<div class="line-item-modal">
    <div class="bionic-modal-header" style="display: block; float:left; width: 100%; box-sizing: border-box;">
        <h1>Facebook</h1>
                  
         <ul class="bionic-tab-menu" style="margin-bottom: -15px; margin-top: 10px;">
            <li><a rel="modal:open" href="templates/modals/line/line-item-overview.html" class="current" style="background: #fff; border-bottom-color: #fff;">Overview</a></li>
            <li><a rel="modal:open" href="templates/modals/line/line-item-cost.html">Cost</a></li>
            <li><a rel="modal:open" href="templates/modals/line/line-item-tasks.html">Tasks</a></li>
            <li><a rel="modal:open" href="templates/modals/line/line-item-kpi.html">KPI Goals</a></li>
            <li><a rel="modal:open" href="templates/modals/line/line-item-performance.html">Performance</a></li>
         </ul>
                  
                  
        <ul class="previous-next">
            <li>Previous</li>
            <li>Next</li>
        </ul>
                   
    </div>
</div>
    
<div class="bionic-modal-body custom-form-controls" style="height: 500px; width: 1152px; padding: 0">
 
    <img src="../../ux/planner/images/line-overview.png" style="margin-top:10px; margin-left: 12px;" />

</div>


<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Close</a>
</div>
</div>
