<div class="bionic-advertiser-header bionic-header block fullwidth">
                
    <h1>Advertiser Name</h1>
        
    <script type="text/template" class="advertiserNav">

    	<ul class="bionic-tab-menu">
    		<% _.each( bionic.advertiserNavItems, function( advertiserNavItem ){ %>
            <% 
                var url = window.location.href;
                var theID = url.substring(url.lastIndexOf('/') + 1);
                var directory = url.substring(url.lastIndexOf('#/advertiser/'));
                var group = advertiserNavItem.group;
                if (window.location.hash.substr(1,18) == advertiserNavItem.page.substr(1,18)){ var currentnav = 'class="current"'; } 
            %>
    			<li>
    				<a <%= currentnav %> href="<%- advertiserNavItem.page %>"><%- advertiserNavItem.name %></a>
    			</li>
    
    		<% }); %>
    	</ul>   
    	 
	</script>
</div>

<div class="bionic-campaign-header bionic-header block fullwidth">

    <ul class="bionic-action-menu block" style="padding:5px 0;"><li><i class="fa fa-calendar"></i> Any Time</li></ul>	


    <script type="text/template" class="template">
        
	<ul class="bionic-subnav-menu">
		<% _.each( bionic.listItems, function( listItem ){ %>
        <% 
            var url = window.location.href;
            var theID = url.substring(url.lastIndexOf('/') + 1);
            var page = url.substring(url.lastIndexOf('#/'));
            if (listItem.page == "allocations-costs"){ var currentSubnav = 'class="current"'; } 
        %>
			<li>
				<a <%= currentSubnav %> href="<%- listItem.page %>"><%- listItem.name %></a>
			</li>

		<% }); %>
	</ul>
    	
    </script>

</div>



<div class="block  has-subnav">

<h2>Costs</h2>

<table class="chart">
    <thead>
        <tr>
            <th>Cost Name</th>
            <th class="spend">Spend <i class="fa fa-caret-down"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable-row" data-href="#/advertiser/allocations-costs-campaigns/">
            <td>Net Media Cost</td>
            <td class="spend">$ 100,000.00</td>
            <td class="bar"><span>50.8%</span></td>
        </tr>
        <tr>
            <td>Agency Compensation</td>
            <td class="spend">70,500.00</td>
            <td class="bar"><span style="width: 250px;">38.1%</span></td>
        </tr>
        <tr>
            <td>Google DBM Tech</td>
            <td class="spend">10,500.00</td>
            <td class="bar"><span style="width: 80px;">8.1%</span></td>
        </tr>
        <tr>
            <td>DCM AD Serving</td>
            <td class="spend">5,000.00</td>
            <td class="bar"><span style="width: 40px;">3.0%</span></td>
        </tr>
        <tr>
            <td>Content Optimization</td>
            <td class="spend">2,000.00</td>
            <td class="bar"><span style="width: 10px; color: #333">1.0%</span></td>
        </tr>
        <tr>
            <td>Talent</td>
            <td class="spend">1,000.00</td>
            <td class="bar"><span style="width: 10px; color: #333">1.0%</span></td>
        </tr>
        <tr class="total">
            <td>Total</td>
            <td class="spend">$ 190,800.00</td>
            <td></td>
        </tr>
    </tbody>
</table>

</div>


<script type="text/javascript" src="templates/nav-allocations.js"></script>
<script type="text/javascript" src="templates/advertiser/nav-advertiser.js"></script>

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

