<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1>Advertiser Name</h1>
        
    <ul class="bionic-tab-menu">
        <li class="current">Overview</li>
        <li>Settings</li>
        <li>Campaigns</li>
        <li>Tasks</li>
        <li>Flowchart</li>
        <li>Allocations</li>
        <li>Performance</li>
    </ul>
</div>

<ul class="bionic-action-menu block">
    <li class="bionic-action-edit"><a><i class="fa fa-pencil"></i>Edit</a></li>
    <li class="bionic-action-follow"><a><i class="fa fa-star-o"></i>Follow</a></li>
</ul>

<div class="bionic-overview-container block">

    <div class="bionic-summary block">
        
        <span class="bionic-overview-label">Parent Advertiser</span>
        <a>Coty</a>
        
        <span class="bionic-overview-label">Website</span>
        <a>http://maxfactor.com</a>
        
        <span class="bionic-overview-label">Address</span>
        123 Main Ave.<br>
        New York, NY 54321
        
        <span class="bionic-overview-label">Phone</span>
        1-212-321-4321
        
        <span class="bionic-overview-label divider">Primary Advertiser Contact</span>
        Jenny Smith<br>
        <a>jsmith@maxfactor.com</a><br>
                1-212-321-4321 ext. 3431

        <span class="bionic-overview-label">Primary Buyer Contact</span>
        Brian Barkley<br>
        <a>bb@xyz.com</a><br>
                1-234-321-2345

        
        


        
        <span class="bionic-overview-label">Agency Comp</span>
        
        
    </div>

    <div class="bionic-advertiser-description block">
    
        <img src="../planner/images/maxfactor.png">
<p>Max Factor is a popular line of cosmetics company from Coty, Inc.. It was founded in 1909 as Max Factor & Company, by Max Factor (orig. Maksymilian Faktorowicz, 1877-1938), a Polish-Jewish cosmetician from Congress Poland. In its early days, it specialized in movie make-up. Until its 1973 sale for US$500 million, Max Factor & Company was owned by several generations of the family, becoming an international company during that time. Procter & Gamble purchased it in 1991, and it remains a popular brand.

<p>By the first quarter of 2010, Procter & Gamble had discontinued Max Factor in the United States, instead focusing its marketing efforts on the more successful CoverGirl cosmetics line. Max Factor will continue to be marketed overseas. Max Factor is also exclusively available through Drugstore.com in the United States.
    
    </div>


</div>