<div class="addmetrics" style="width: 700px;">
    <div class="bionic-modal-header">
        <h1>Add New Cost</h1>
    </div>
</div>
    
<div class="bionic-modal-body custom-form-controls" style="width: 700px;">
 
    
 
    <strong style="display: block; margin-bottom: 10px;">Name</strong>
    <input class="text" type="text" style="width: 100%;" value="">
    <span style="position: absolute; right: 35; margin-top:-28px; color: #9b9b9b;">32</span>

    <div class="block fullwidth" style="width: 650px; margin-top: 10px;">
        <strong style="display: block; margin-bottom: 10px; margin-top: 10px;">Type</strong>
        <div class="bionic-radio">
            <input id="item1" name="type" type="radio" value="item1" checked />
            <label for="item1">
                <span></span>
                Production
            </label>
        </div>
        
        <div class="bionic-radio">
            <input id="item2" name="type" type="radio" value="item2">
            <label for="item2">
                <span></span>
                Delivery
            </label>
        </div>   
        
        <a>Learn about the differences between Production and Delivery costs</a>          
    </div>
    
    
    <div class="block" style="width: 250px; margin-top: 15px; margin-right: 5px;">
        <strong style="display: block; margin-bottom: 10px; margin-top: 10px;">Calculation</strong>
        <input class="dropdown" type="text" style="width: 250px;" value="">
    </div>
    <div class="block" style="width: 80px; margin-top: 15px; margin-right: 5px;">
        <strong style="display: block; margin-bottom: 10px; margin-top: 10px;">Currency</strong>
            <input class="text DROPDOWN" type="text" style="width: 80px;" value="USD">
    </div>
    <div class="block" style="width: 180px; margin-top: 15px; margin-right: 5px">
        <strong style="display: block; margin-bottom: 10px; margin-top: 10px;">Rate</strong>
            <input class="text" type="text" style="width: 180px;" value="">
    </div>

    <div class="block" style="width: 120px; margin-top: 15px;">
        <strong style="display: block; margin-bottom: 10px; margin-top: 10px;">Overage Buffer</strong>
        <input class="text" type="text" style="width: 120px;" value="">
    </div>
    
</div>

<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Save Cost</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
    <div style="display: block; float: right; line-height: 32px;"><a>View examples</a> of different types of cost calculations</div>
</div>
</div>