<div class="addmetrics" style="width: 600px;">
    <div class="bionic-modal-header">
        <h1>Select Cost Columns</h1>
    </div>
    <div class="bionic-modal-header">
        <input type="text" class="search" placeholder="Search" style="width: 60%; margin-right: 10px;" /> 
        <span style="float: right; display: block; left:-30px; top:5px; position: relative" class="addnew">Can't find a cost you need? <br>
        <a class="open-modal" href="templates/modals/settings/additionalcosts-addnew.html" rel="modal:open" >Add a New Cost</a></span>
    </div>
</div>
    
<div class="bionic-modal-body custom-form-controls" style="height: 300px;">

    <ul id="AdditionalCostsMenu">
    
    </ul>
     
</div>

<div class="bionic-modal-footer" style="margin-top: 0;">
<!--     <a class="blue-button" rel="modal:close">Save Cost Columns</a> -->
    <a class="blue-button" rel="modal:close">Done</a>
    <a class="gray-button" rel="modal:close">Cancel</a>
</div>
</div>

<script>

      var spreadsheetTab = "AdditionalCosts";
      
      var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/13CfcOztU9RU-J-UHyXwt6NXsXbYWyeU3fMzLQa5uBLk/pubhtml';
      
      $(document).ready( function() {



        Tabletop.init( { key: public_spreadsheet_url,
                         callback: showInfo,
                         wanted: [ spreadsheetTab ],
                        // query:["state=done and (name=performance or name=flowchart)"],
                         debug: true } )
      
      });
        
      function showInfo(data, tabletop) {

        $.each( tabletop.sheets(spreadsheetTab).all(), function(i, item) {
          
          var name,
              type, 
              calculation,
              checked;           
          
          name =      item.Name;
          type =   item.Type;
          calculation =    item.Calculation;
          checked =     item.Checked; 
            
          if(type != "Header"){  
              costsMenu = $('<li><input id="cb'+i+'" type="checkbox" '+checked+'><label for="cb'+i+'">' + name +'</label> </li>');
          } else {
              costsMenu = $('<li style="line-height:40px;"><strong>' + name +'</strong></li>');
          }
        
          costsMenu.appendTo("#AdditionalCostsMenu");
          
          
          
        });

        
      }

</script>