<div class="chooselines" style="width: 500px;">
    <div class="bionic-modal-header">
        <h1>Remove Viewable Impressions?</h1>
    </div>
</div>
    
<div class="bionic-modal-body custom-form-controls" style="width: 500px;">
    Are you sure you want to remove <strong>Viewable Impressions</strong> from this campaign? Any goals entered for Viewable Impressions on the campaign will be deleted.
</div>

<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close">Remove Viewable Impressions</a>
    <a class="gray-button" rel="modal:close">Cancel</a>
</div>
</div>