* { 
    font-family: "Helvetica","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
}

ol,ul,li {
        margin: 0;
    padding: 0;

}

body {
    background: #fff;
    color: #333;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
    font-size: 13px;
}

a {
    color: #69AED4;
    text-decoration: none;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#logo {
    background: #373E42 url("../../images/bionic.svg") no-repeat;
    height: 70px;
    text-indent: -9999em;
    width: 180px;
    background-size: 77px 24px;
    cursor: pointer;
    box-sizing: border-box;
    background-position: 20px 22px;
    position: fixed;
    border-right:1px solid #e2e2e2;
}

    h1 a {
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 25px 20px;
    }

h1,h2,h3,h4 {
    clear: both;
    font-weight: normal;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;    
}

h2 {
    font-size: 24px;
    margin: 20px 0 10px;    
}

h3 {
    margin: 20px 0 10px;
    font-size: 18px;
}

h4 {
    font-size: 16px;
}


pre  {
    font-family:courier,monospace;
 }

#content {
    margin-left:180px;
    margin-bottom: 50px;
    padding-left: 30px;
    position: absolute;
    width: calc(100% - 240px);
}

    #content p {
        width: 600px;
    }


.header {
    background: #4A5155;
    background: #f5f6f7;
    display: block;
    float: left;
    width: 100%;
    padding: 19px 30px 10px;
    margin-left: -31px;
    margin-top: -20px;   
    border-bottom: 1px solid #ddd;
}

    
    .header.home, h2.home {
        padding-top: 100px;
        margin-bottom: 20px;
        font-size: 50px;
    }

/* Typography */
table.headings {
    box-sizing: border-box;
    border: none;
}

    .headings td {
        padding: 10px 0 10px;
        margin: none;
        border:none;
        border-bottom: 1px solid #cfcfcf;
        width: 300px
    }
    
    .headings td * {
        display: inline;
    }
    
    .pixels {
        color: #999;
    }
 
.headings .nomargin   {
    margin: 0 0 10px !important;
    color: #333;
    width: auto;
    display: inline;
}
    
    .headings h1,
    .headings h2,
    .headings h3,
    .headings h4 {
        font-weight: bold;
    }

    .monospace {
        font-family: monospace;
    }


#navigation {
    position: fixed;
    width: 180px;
    overflow-y: auto;
    height: calc(100% - 70px);
    border-right:1px solid #e2e2e2;
    top:70px;
    background: #373E42;
    box-sizing: border-box;
}

    #navigation li {
        display: block;    
        position: relative;
        list-style: none;
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
    }
    
    #navigation li a {
        display: block;
        position: relative;
        width: 100%;
        padding: 5px 5px 5px 20px;
        box-sizing: border-box;
        text-decoration: none;
        color: #ccc;
    }
    
    #navigation .divider {
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #fff;
        font-size:11px;
        padding-top:15px;
/*         border-top: 1px solid #666; */
        cursor: default;
        font-weight: bold;
    }
    
     #navigation .divider:first-of-type {
        margin-top: 0;
        padding-top: 0px;
    }
    
    #navigation li.top > a {
        padding-left: 20px;

    }
    
    #navigation li a:hover {
        color: #fff;
    }
    
    #navigation li a:visited {
/*         color: #fafafa; */
    }
    
    #navigation li.top {
        background: url("../../images/angle-right.svg") no-repeat 6px 8px;
    }
    #navigation li.top.active {
        background: url("../../images/angle-down.svg") no-repeat 3px 9px;
        color: #fff;
    }
    
            #navigation li.top ul li a{
                padding-left: 35px;
            }


.subnav-container {
    margin-right: 20px;
    float: left;
    display: block;
}

    .subnav-container.right {
        float: right;
        margin-right: 0;
    }

.subnav {
    
}   


    .label {
        font-size: 9px;
        text-transform: uppercase;
        float: left;
        margin-top: -12px;
        position: absolute;
    }

    .subnav.view {
        float: left;
    }
    
    .source {
        float: left;
        border: 1px solid #ccc;
        border-radius: 2px;
    }


    .subnav li {
        float: left;
        border: 1px solid #ccc;
    }
    
    .subnav li:first-child {
        border-radius: 2px 0 0 2px;
    }
    .subnav li:last-child {
        border-radius: 0px 2px 2px 0px;
    }
    
    .subnav li.current {
        border: 1px solid #999;
                z-index: 999;

    }

    .subnav li.current a {
        color: #333;
    }
    .subnav li a, .source{
        color: #999;
        display: block;
        padding: 5px 10px;
    }

.filter {
    clear: both;
    display: block;
    width: 100%;
    font-size: 11px;
    float: left;
        border-bottom: 1px solid #ccc;
        margin-left:-30px;
        box-sizing: border-box;
        padding: 0 30px 0 31px;
}

    .filter li {
        float: left;
        padding: 10px 0px;
        box-sizing: border-box;
        color: #999;
        margin-right: 15px;
    }
    
    .filter li.current {
        font-weight: bold;
        color: #333;
    }

.button {
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    text-shadow: none;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
}

    .button.primary {
        background: #69AED4;
    }

    .button.secondary {
        background: #9B9B9B;
    }

    .button.disabled {
        background: #dddddd;
        color: #c0c0c0;
    }

.colors {
    clear: both;
    display: block;
}

    .colors li{
        float: left;
        box-sizing: border-box;
        width: 150px;
        height: 200px;
        background: #fff;
        margin: 0 10px 20px 0;
        border:1px solid #fff;
    }
    
    .colors div {
        display: block;
        float: left;
        width: 150px;
        height: 100px;
        margin-bottom: 10px;
    }
    
        .colors.task div {
            width: 100px;
            height: 50px;
        }    
        
        .colors.task li {
            height: 130;
            margin: 0 10px 20px 0;
        }
    
        .colors.palette div {
            width: 100px;
            height: 50px;
        }

        .colors.palette li {
            width: 95px;
            margin: 0 10px 20px 0;
            height: 80px;
        }
     
    .colors li {
        color: #333;
    }
    
    .colors li.light {
        color: #333;
    }
    
    .colors .description {
        position: relative;
        float: left;
        margin-top: 10px;
        clear: both;
        width: 100%;
    }
    
    
    .colors.primary {
        width: 800px;
    }
    
    .colors.palette {
        width: 600px;
    }


.spreadsheet {
    width: calc(100% + 59px);
    margin-bottom: 50px;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    margin-left: -30px;
    font-size: 13px;
}

    .spreadsheet tr:hover td {
        background-color: #E6F2F8 !important;
        border-bottom: 1px solid #69AED4;
        border-top: 1px solid #69AED4;
    }
        
    .spreadsheet th {
        text-align: left;  
        padding: 10px 10px;
        font-size: 11px;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
        background: #f5f6f7;
    }
    
    .spreadsheet .line-number {
        color: #999;
        width: 15px;
        text-align: center;
        background: #f5f6f7;
    }
    
    .spreadsheet td {
        padding: 5px 10px;
        border-bottom: 1px solid #eee;
        vertical-align: top;
        border-right: 1px solid #eee;
    }
    
    .spreadsheet .status,
    .spreadsheet .type {
        white-space: nowrap;
        text-transform: capitalize;
        width: 40px;
    }
    
    .spreadsheet .group {

    }
    
    .spreadsheet div.status,
    .spreadsheet div.type {
        display: block;
        float: left;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px;
        color: #fff;
        color: #333;
        
        
    }


    .spreadsheet td.status {
        padding-left: 25px;
        background: transparent;
    }

    .spreadsheet div.status {
        border: 1px solid #ccc;
        text-align: center;
        width: 10px;
        height: 10px;
        font-size: 8px;
        border-radius: 5px;
        text-transform: uppercase;
/*         padding: 3px 5px; */
        margin-right: 5px;
    }

        .spreadsheet .status.inprogress {
            background: transparent url(images/pencil.svg) no-repeat 5px 5px;
        }

        .spreadsheet .status.defer,
        .spreadsheet .status.needed {
            color: #999;
        }

        .spreadsheet .status.needsreview {
            background: transparent url(images/yield.svg) no-repeat 5px 5px;
            color: orange;
        }
        
        .spreadsheet .status.approved {
            background: transparent url(images/check.svg) no-repeat 7px 7px;
            color: green;
        }


        .spreadsheet div.type.screen {
            color: #ccc;
        }
        
        .spreadsheet div.type.email {

        }
        .spreadsheet div.type.modal {

        }
        .spreadsheet div.type.export {

        }
        
        
    
    .spreadsheet .name {
        font-weight: bold;
        min-width: 300px;
    }
    
    .link-invision { color: #ccc;   }
    
    .link-github { 
        
    }
    
    .link-salesforce{ 
        
    }
    