/* line 1, ../../../sass/components/2_elements/buttons.scss */
.blue-button,
.green-button,
.gray-button,
.button-c,
.gray-button {
  display: inline-block;
  font-size: 1em;
  padding: 8px 20px;
  line-height: 20px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;
  position: relative;
  font-weight: 700 !important;
}

/* line 19, ../../../sass/components/2_elements/buttons.scss */
.blue-button {
  display: inline-block;
  color: white !important;
  position: relative;
  background: #6CAFD2;
  color: white;
  border: 1px solid #6CAFD2;
}

/* line 29, ../../../sass/components/2_elements/buttons.scss */
.blue-button:hover {
  background: #60B2DB;
}

/* line 33, ../../../sass/components/2_elements/buttons.scss */
.blue-button:disabled,
.blue-button.disabled,
.blue-button.disabled:hover {
  background: #eee;
  border: 0px solid #eee;
  color: #c0c0c0 !important;
  cursor: default;
}

/* line 42, ../../../sass/components/2_elements/buttons.scss */
#crumbs .blue-button {
  margin-top: 4px;
  padding: 8px 20px;
}

/* line 47, ../../../sass/components/2_elements/buttons.scss */
.button-c {
  background-color: #999;
  color: #fff !important;
}

/* line 52, ../../../sass/components/2_elements/buttons.scss */
.button-c-disabled {
  opacity: 0.8;
}

/* line 56, ../../../sass/components/2_elements/buttons.scss */
.green-button {
  color: white !important;
  position: relative;
  background: #65a000;
}

/* line 63, ../../../sass/components/2_elements/buttons.scss */
input[type="submit"].gray-button,
input[type="button"].gray-button,
.gray-button {
  background: #eee;
  color: #888 !important;
  border: 1px solid #eee;
}

/* line 71, ../../../sass/components/2_elements/buttons.scss */
.gray-button:hover {
  background: #e2e2e2;
}

/* line 77, ../../../sass/components/2_elements/buttons.scss */
.small-button {
  padding: 0 20px;
}

/* line 81, ../../../sass/components/2_elements/buttons.scss */
.blue-button:disabled {
  background: #B5B5B5;
  color: #888 !important;
}

/* line 86, ../../../sass/components/2_elements/buttons.scss */
.button-link {
  padding: 8px 20px !important;
  line-height: 20px;
  background: none !important;
}
/* line 90, ../../../sass/components/2_elements/buttons.scss */
.button-link.under-line {
  text-decoration: underline;
}
