/* line 2, ../../../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"] {
  display: none;
}
/* line 5, ../../../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"]:checked + label .box {
  border: 3px solid #69AED4;
  background-color: #69AED4;
  background-image: url("../images/check_mark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}
/* line 14, ../../../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"]:disabled + label {
  color: #ccc !important;
  cursor: default;
}
/* line 18, ../../../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"]:disabled + label .box {
  border-color: #ddd !important;
  background-color: #ddd;
}
/* line 25, ../../../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox label {
  display: inline !important;
  font-size: 13px !important;
  cursor: pointer;
}
/* line 31, ../../../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox label span:first-child.box {
  top: -3px;
  position: relative;
  height: 16px;
  width: 16px;
  border: 3px solid #eee;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  background: #fff;
}
/* line 44, ../../../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox label span.text {
  vertical-align: top;
  position: relative;
  top: 3px;
  display: inline-block;
  width: calc(100% - 33px);
  line-height: 18px;
  padding: 2px 0 3px;
}
