/* line 1, ../../../sass/components/2_elements/inputs.scss */
input[type=text],
textarea,
input[readonly]:focus {
  font-size: 13px;
  border: 3px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 10px;
}

/* line 12, ../../../sass/components/2_elements/inputs.scss */
input[type=text]:not(.no-outline):focus,
textarea:not(.no-outline):focus {
  border: 3px solid #6BADD1 !important;
  outline: none !important;
  display: inline-block;
}

/* line 19, ../../../sass/components/2_elements/inputs.scss */
input[type=text][readonly] {
  color: #999;
}

/* line 23, ../../../sass/components/2_elements/inputs.scss */
input[type=text][readonly]:focus {
  border-color: #eee !important;
}

/* line 27, ../../../sass/components/2_elements/inputs.scss */
input[type=text].datepicker {
  width: 120px;
  background-image: url(../images/calendar.svg);
  background-position: right 7px center, right center;
  background-repeat: no-repeat;
}
