<div class="user-ratings" style="width: 545px;">

    <div class="bionic-modal-header">
        <h1>You're Awesome!</h1>
    </div>
        
    <div class="bionic-modal-body" style="height: 300px;">
    
    <p>
        Thank you so much. Your feedback &mdash; good or bad &mdash; will help us to improve ourselves.
    </p>
    
    <p>Better. Stronger. Faster.</p>
                
    </div>
    
    <div class="bionic-modal-footer">
        <a class="blue-button" rel="modal:close">Close</a>
    </div>
    
</div>