/* Typography */
table.headings {
    box-sizing: border-box;
    border: none;
}

    .headings td {
        padding: 10px 0 10px;
        margin: none;
        border:none;
        border-bottom: 1px solid #cfcfcf;
        width: 300px
    }
    
    .headings td * {
        display: inline;
    }
    
    .pixels {
        color: #999;
    }
 
.headings .nomargin   {
    margin: 0 0 10px !important;
    color: #333;
    width: auto;
    display: inline;
}
    
    h1,
    h2,
    h3,
    h4 {
        clear: both;
        font-weight: bold;
    }
    
    .headings h2:before {
        display: none;
    }

    .monospace {
        font-family: monospace;
    }

h1 {
    margin: 18px 0 10px;    
}

h2 {
    margin: 20px 0 10px;   
}


    
    h2:before {
        content: " ";
        border-top: 1px dotted #999;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        max-width: 600px;
    } 
    
    h2:first-child:before {
        border-top: none;
    }

h3 {
    margin: 20px 0 10px;
}

h4 {
    margin-bottom: -1em;
}
