$font-stack: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

* { 
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
}

body, table {
    font-size: 13px;
}


li {
    margin: 0;
    padding: 0;
}

ol,ul,li {
    margin: 0;
    padding: 0;
}

.block {
    display: block;
    float: left;
    position: relative;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}