$font-stack: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

* { 
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
}

body, table {
    font-size: 13px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #ddd;
}

li {
    margin: 0;
    padding: 0;
}

ol,ul,li {
    margin: 0;
    padding: 0;
}

.block {
    display: block;
    float: left;
    position: relative;
    box-sizing: border-box;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.disabled {
    opacity: .5;
    filter: grayscale(100%);
}

.hidden {
    display: none;
}

.grayscale {
    filter: grayscale(100%);
}