<div class="authorization">
<div class="bionic-modal-header">
    <h1><i class="fa fa-check"></i> Authorize</h1>
</div>
    
<div class="bionic-modal-body" style="height: 400px; width: 530px;">

    <div class="modal-authorization-summary"><strong>Line 2 - Facebook Static Image</strong><br>
    December 1, 2017 - December 31, 2017<br>
    $ 100,000.00</div>
    
    <div class="modal-authorization-label">Authorize on Behalf Of: <span><a>Manage List of Authorizers</a></span></div>
    <input class="ui-autocomplete-input-with-arrow ui-autocomplete-input hasAutoComplete" value="Allie Advertiser" type="text" autocomplete="off">
    
    <div class="modal-authorization-label">Note</div>
    <textarea></textarea>
    
    <a class="add-attachment"><i class="fa fa-paperclip"></i><span>Add Attachment</span></a>
    
</div>

<div class="bionic-modal-footer">
    <a class="blue-button button-authorize" rel="modal:close">Authorize</a>
    <a class="gray-button" rel="modal:close">Cancel</a>
</div>
</div>

<script>


</script>