<h1>Tables</h1>
<h2>Basics</h2>
<h3>Table Headers</h3>
<ul>
    <li>Font Size: 13px</li>
    <li>Font Weight: normal</li>
    <li>Clickable/sortable: bionic blue color</li>
    <li>Not Clickable/sortable: normal text (off black) color</li>
</ul>

<h3>Table Content</h3>
<ul>
    <li>Font Size: 13px</li>
    <li>Alternate Font Size: 11px (for secondary content)</li>
    <li>Font Weight: normal</li>
</ul>

![Table](images/content/table-details.png)

<h4>Table Row Classes</h4>
<div class="code-wrapper">
    <pre class="prettyprint">
        <xmp>
            <div class="nxm-tr" ">
            </div>
        </xmp>
    </pre>
</div>

![Table Number](images/content/table-numbering.png)
<h4>Row Numbering Classes</h4>
<div class="code-wrapper">
    <pre class="prettyprint">
        <xmp>
            <div class="nxm-td grid-row-number">
                <span class="row-number"></span>
            </div>
        </xmp>
    </pre>
</div>

![Table Checkbox](images/content/table-checkbox.png)
<h4>Row Checkbox Classes</h4>
<div class="code-wrapper">
    <pre class="prettyprint">
        <xmp>
            <div class="nxm-td grid-row-select ">
                <div class="bionic-checkbox">
                    <input type="checkbox" name="actual-spot-<%= actualSpot.nextmarkId %>" id="actual-spot-<%= actualSpot.nextmarkId %>" class="nxm-grid-select-row" <%= insured(actualSpot, 'selected', false)? 'checked' : '' %> >
                    <label for="actual-spot-<%= actualSpot.nextmarkId %>">
                        <span class="box checkbox"></span>
                    </label>
                </div>
            </div>
        </xmp>
    </pre>
</div>


<h2>Media Plan Grid</h2>


<h2>Task List</h2>


<h2>Advertisers</h2>


<h2>Campaigns</h2>