/* line 1, ../../../sass/components/1_basics/colors.scss */
.colors {
  clear: both;
  display: block;
}

/* line 6, ../../../sass/components/1_basics/colors.scss */
.colors li {
  float: left;
  box-sizing: border-box;
  width: 150px;
  height: 200px;
  background: #fff;
  margin: 0 10px 20px 0;
  border: 1px solid #fff;
}
/* line 15, ../../../sass/components/1_basics/colors.scss */
.colors li span {
  clear: both;
  display: block;
}

/* line 21, ../../../sass/components/1_basics/colors.scss */
.colors div {
  display: block;
  float: left;
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
}

/* line 29, ../../../sass/components/1_basics/colors.scss */
.colors.task div {
  height: 50px;
}

/* line 33, ../../../sass/components/1_basics/colors.scss */
.colors.task li {
  height: 130;
  margin: 0 10px 20px 0;
}

/* line 38, ../../../sass/components/1_basics/colors.scss */
.colors.palette div {
  height: 50px;
}

/* line 42, ../../../sass/components/1_basics/colors.scss */
.colors.palette li {
  margin: 0 10px 20px 0;
  height: 80px;
}

/* line 47, ../../../sass/components/1_basics/colors.scss */
.colors li {
  color: #333;
}

/* line 51, ../../../sass/components/1_basics/colors.scss */
.colors li.light {
  color: #333;
}

/* line 55, ../../../sass/components/1_basics/colors.scss */
.colors .description {
  position: relative;
  float: left;
  margin-top: 10px;
  clear: both;
  width: 100%;
}

/* line 64, ../../../sass/components/1_basics/colors.scss */
.colors.primary {
  width: 800px;
}

/* line 68, ../../../sass/components/1_basics/colors.scss */
.colors.palette {
  width: 600px;
}
