/* line 1, ../../../sass/components/1_basics/colors.scss */
.colors {
  clear: both;
  display: block;
}
/* line 5, ../../../sass/components/1_basics/colors.scss */
.colors ul {
  width: 1200px;
}
/* line 9, ../../../sass/components/1_basics/colors.scss */
.colors li {
  float: left;
  list-style: none;
  box-sizing: border-box;
  width: 150px;
  height: 200px;
  background: #fff;
  margin: 0 10px 20px 0;
  border: 1px solid #fff;
}
/* line 19, ../../../sass/components/1_basics/colors.scss */
.colors li span {
  clear: both;
  display: block;
}
/* line 25, ../../../sass/components/1_basics/colors.scss */
.colors div {
  display: block;
  float: left;
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
}

/* line 35, ../../../sass/components/1_basics/colors.scss */
.colors
.colors.task div {
  height: 50px;
}

/* line 40, ../../../sass/components/1_basics/colors.scss */
.colors.task li {
  height: 130;
  margin: 0 10px 20px 0;
}

/* line 45, ../../../sass/components/1_basics/colors.scss */
.colors.palette div {
  height: 50px;
}

/* line 49, ../../../sass/components/1_basics/colors.scss */
.colors.palette li {
  margin: 0 10px 20px 0;
  height: 80px;
}

/* line 54, ../../../sass/components/1_basics/colors.scss */
.colors li {
  color: #333;
}

/* line 58, ../../../sass/components/1_basics/colors.scss */
.colors li.light {
  color: #333;
}

/* line 62, ../../../sass/components/1_basics/colors.scss */
.colors .description {
  position: relative;
  float: left;
  margin-top: 10px;
  clear: both;
  width: 100%;
}

/* line 71, ../../../sass/components/1_basics/colors.scss */
.colors.primary {
  width: 800px;
}

/* line 75, ../../../sass/components/1_basics/colors.scss */
.colors.palette {
  width: 600px;
}
