
<div id="bionic-home" class="block fullwidth">
    
    <div class="bionic-header block fullwidth">
    
        <h1>
            <span class="avatar"></span>
            Good Afternoon, Elizabeth!
        </h1>
    
        <ul class="bionic-tab-menu block fullwidth">
       
            <li><a href="#/">Home</a></li>
            <li><a href="#/advertisers" class="current">Advertisers</a></li>
            <li><a href="#/campaigns">Campaigns</a></li>
<!--             <li><a href="#/schedule">Schedule</a></li> -->
            <li><a href="#/tasks">Tasks</a></li>
            <li><a href="#/allocations">Allocations</a></li>
            <li><a href="#/performance">Performance</a></li>
            
        </ul>

    </div>

<div class="controls"></div>

<div class="grid fixedTable block performance performance-advertisers custom-form-controls" id="grid">
  
  
</div>

<div class="performance">
    <div class="performance-details">
    </div>
</div>

</div>

<script>


    $(document).ready(function(){
        
        $(".controls").load("templates/utilities/advertisers-menu.html", function(){

        });
        
    });
    
    $("body").click(function () {        

        $(".menu").hide();
        $(".performance-details").hide();

    });

    $(".bionic-filter").click(function (event) {        
        event.stopPropagation();
        $(".menu").hide();
        $(this).next(".menu").show();
    });
    
    $(".menu").click(function (event) {        
        event.stopPropagation();
    });
    

          


</script>

<script type="text/javascript">

    // ------------------------------------------------
    // Set Up the Fixed First Column Table
    
    (function() {
      var grid, fixedTable;
    
      fixedTable = function(el) {
        var $body, $header, $sidebar;
        $body = $(el).find('.fixedTable-body');
        $sidebar = $(el).find('.fixedTable-sidebar table');
        $header = $(el).find('.fixedTable-header table');
        return $($body).scroll(function() {
          $($sidebar).css('margin-top', -$($body).scrollTop());
          return $($header).css('margin-left', -$($body).scrollLeft());
        });
      };
    
      grid = new fixedTable($('#grid'));
    
    }).call(this);

    // ------------------------------------------------
    // Make the rows highlight with Fixed First Column   
    
    $(document).on({
    mouseenter: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
    },
    mouseleave: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").removeClass("hover")
    });
    }
    }, "#grid table tr");
    
</script>

