
<div id="bionic-home" class="block fullwidth">
    
    <div class="bionic-header block fullwidth">
    
        <h1>
            <span class="avatar"></span>
            Good Afternoon, Elizabeth!
        </h1>
    
        <ul class="bionic-tab-menu block fullwidth">
       
            <li><a href="#/">Home</a></li>
            <li><a href="#/advertisers">Advertisers</a></li>
            <li><a href="#/campaigns" class="current">Campaigns</a></li>
<!--             <li><a href="#/schedule">Schedule</a></li> -->
            <li><a href="#/tasks">Tasks</a></li>
            <li><a href="#/allocations">Allocations</a></li>
            <li><a href="#/performance">Performance</a></li>
        </ul>

    </div>

    <div class="nxm-menu-bar nxm-menu-filters">
        <div class="filter-section filter-search-master">
        <input type="text" placeholder="Search Advertiser" value="" required id="advertisers-filter-search-master" class="filter-search-master nxm-bg-search" autofocus="" style="width: 180px;">
        <span id="clear-search" class="clear-search-filter">
            <i class="fa fa-times-circle"></i>
        </span>
        </div>
    </div>
    
    <div class="bionic-filter bionic-filter-off" style="margin-left: 25px; margin-bottom: 0;"><i class="fa fa-filter"></i> All Campaigns</div>

</div>
