    <p class="toggleRatings" style="font-weight: bold; padding: 10px; border: 1px solid #cfcfcf; background: #eee; position: fixed; z-index: 9; right: 15px; bottom: 0; margin-top: 50px; float: right; font-size: 12px; cursor: pointer;">
        <span rel="one">New User</span> &mdash; <span rel="two">Previously Rated</span> &mdash; <span rel="three">In Page</span> &mdash; <span rel="four">Previously Rated In Page</span>
    </p>



<div id="bionic-home" class="block fullwidth">
    
    <div class="bionic-header block fullwidth">
    
        <h1>
            <span class="avatar"></span>
            Good Afternoon, Elizabeth!
        </h1>
    
        <ul class="bionic-tab-menu block fullwidth">
       
            <li><a href="#/" class="current">Home</a></li>
            <li><a href="#/advertisers">Advertisers</a></li>
            <li><a href="#/campaigns">Campaigns</a></li>
<!--             <li><a href="#/schedule">Schedule</a></li> -->
            <li><a href="#/tasks">Tasks</a></li>
            <li><a href="#/allocations">Allocations</a></li>
            <li><a href="#/performance">Performance</a></li>
        </ul>

    </div>

    <div class="bionic-content block fullwidth">


    <p class="ratings one" style="">You haven't rated Bionic yet <a style="margin-left: 2px;" rel="modal:open" href="templates/modals/home/user-ratings-1.html"><strong>Rate Bionic Now</strong></a></p>
<!-- <span style="background: #FBE0B4; font-weight: bold; padding-top: 3px; box-sizing: border-box; height:24px; width: 24px; border-radius: 50%; text-align: center; display: inline-block;">8</span> -->
    <p class="ratings two" style="display: none;">You rated Bionic <span style="font-weight: bold;">8</span> out of 10 on October 5, 2017 <a id="change-rating" style="margin-left: 2px;"  rel="modal:open" href="templates/modals/home/user-ratings-1.html"><strong>Change Your Rating</strong></a></p>

    <div class="ratings three four" style="display: none;">
    <h2>How Are We Doing?</h2>
    <div style="width: 100%;  box-sizing: border-box; display: block; float: left; padding: 20px; background: #e9ebed; border-radius: 3px; border: 1px solid #cfcfcf; margin-bottom: 20px;">
    
    <p style="width: 180px; margin-top: 0; margin-right: 20px; float: left;">Please help us understand your experience with Bionic by answering this 1-question survey. Thank you!</p>
    <a id="close-in-page" style="float: right; margin-right: -5px; margin-top: -10px;">Remind Me Later</a>
    <div style="width: 495px; float: left;">
        <p style="margin-top: 0;"><strong>How likely are you to recommend Bionic to a friend or colleague?</strong><br>
            <span style="display: none;" class="ratings four onpage-note">Note: You rated Bionic <strong>8</strong> out of 10 on October 5, 2017</span>
        </p>
        
        <div class="user-rating onpage" style="margin-top: 0;">
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item0" name="type" type="radio" value="0">
                    <label for="item0" class="red">
                    <span>0</span>
                </label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item1" name="type" type="radio" value="1">
                    <label for="item1" class="red"><span>1</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item2" name="type" type="radio" value="2">
                    <label for="item2" class="red"><span>2</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item3" name="type" type="radio" value="3">
                    <label for="item3" class="red"><span>3</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item4" name="type" type="radio" value="4">
                    <label for="item4" class="red"><span>4</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item5" name="type" type="radio" value="5">
                    <label for="item5" class="red"><span>5</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item6" name="type" type="radio" value="6">
                    <label for="item6" class="red"><span>6</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item7" name="type" type="radio" value="7">
                    <label for="item7" class="yellow"><span>7</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item8" name="type" type="radio" value="8">
                    <label for="item8" class="yellow"><span>8</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item9" name="type" type="radio" value="9">
                    <label for="item9" class="green"><span>9</span></label>
                </a>
            </div>   
            <div class="bionic-radio">
                <a rel="modal:open" href="templates/modals/home/user-ratings-1.html" style="color: #333;">
                    <input id="item10" name="type" type="radio" value="10">
                    <label for="item10" class="green"><span>10</span></label>
                </a>
            </div>   
        </div>
        </a>
        <div class="user-rating-legend">
            <span><i class="fa fa-frown-o"></i> Not Likely</span>
            <span class="right">Very Likely <i class="fa fa-smile-o"></i> </span>
        </div>
    </div>
    </div>
    </div>
    
    <h2>Most Recent Campaigns</h2>
        
        <table id="MostRecentCampaigns" class="module block fullwidth">

            <thead>
            <tr>
                <th class="campaign">Campaign</th>
                <th class="advertiser">Advertiser</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th class="budget">Budget</th>
                <th class="planned">Planned</th>
                <th>% Planned</th>
                <th>Last Viewed</th>
            </tr>
            </thead>

        </table>
    
    <h2>Tasks to Do Now</h2>
        
        <div class="module block fullwidth center tasks">

            <div id="noStickerArea" style="" class="watermark-image"></div>
            <h2>You're all caught up!</h2>
            <p>All the tasks you need to do now are done.</p>
            <a>View All Tasks</a>
            
        </div>
    
    </div>
</div>

<div class="note" id="bionic-home-note-1">
Here's the content
<a>Next</a>
</div>

<script type="text/javascript">
        
      var showRating, url;
      url = window.location.href;
      showRating = url.substring(url.lastIndexOf('/') + 1);
        
      var spreadsheetTab = "MostRecentCampaigns";
      
      var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/13CfcOztU9RU-J-UHyXwt6NXsXbYWyeU3fMzLQa5uBLk/pubhtml';
      
      $(document).ready( function() {

        Tabletop.init( { key: public_spreadsheet_url,
                         callback: showInfo,
                         wanted: [ spreadsheetTab ],
                        // query:["state=done and (name=performance or name=flowchart)"],
                         debug: true } )
      
      })
        
      $(".toggleRatings span").click(function(){
          
          ratingsState = $(this).attr('rel');
          
          $(".ratings").hide();
          $(".ratings."+ratingsState).show();
          
          if(ratingsState == "four") {
              console.log(ratingsState);
              $("#item8").prop('checked', true);
          } else {
              $("#item8").prop('checked', false);
          }
          
      });  
      
      $("#close-in-page").click(function(){
          $(".ratings").hide();
          $(".ratings.two").show();
      });
      
      $(".onpage label").click(function(){
          radio_value = $(this).prev("input[type='radio']").val();
          $("#item"+radio_value).prop('checked', true);
//           $("#modal-item"+radio_value).prop('checked', true);
          $(document).on($.modal.OPEN, function(event, modal) {
             $(".modal .user-ratings #modal-item"+radio_value).prop('checked', true);
          });
      });
      
      $("#change-rating").click(function(){
          $(document).on($.modal.OPEN, function(event, modal) {
             $(".modal .user-ratings #modal-item8").prop('checked', true);
          });
      });
/*
      $('a[rel="modal:open"]').on($.modal.OPEN, function(event, modal) {
          console.log("it opened!");
      });
*/


      function showInfo(data, tabletop) {

        $.each( tabletop.sheets(spreadsheetTab).all(), function(i, item) {
          
          var mostRecentCampaigns,
              advertiserimage, 
              campaignimage, 
              percentplanned,
              textcolor
              ;
          
          advertiserimage = item.AdvertiserImage;
          campaignimage = item.CampaignImage;
                    
          if(item.AdvertiserImage != '') {
              advertiserimage =  '<img src="../planner/images/home/' + item.AdvertiserImage + '" />';
          } else {
              advertiserimage =  item.Advertiser;
          }
          
          if(item.CampaignImage != '') {
              campaignimage =  '<img src="../planner/images/home/' + item.CampaignImage + '" />';
          } else {
              campaignimage =  '<img src="../planner/images/home/no_image.png" />';
          }
          
          percentplanned = item.PercentPlanned;
          
          if(percentplanned != ''){
              
              textcolor = '';
              
              if((percentplanned > -1)&&(percentplanned < 30)){
                  textcolor = "under";
              }
              
              if(percentplanned < 101) {
                  percentplannedbar = '<span class="budget-progress-bar '+textcolor+'" style="width:'+percentplanned+'px"><span>'+ percentplanned +'%</span></span>';
              }
              else if(percentplanned > 100) {
                  percentplannedbar = '<span class="budget-progress-bar over"><span>Over 100%</span></span>';
              }
          }
          
          if(i <= 5){                              
              mostRecentCampaigns = $('<tr><td class="campaign"><a href="#/campaign/overview/'+i+'"><span class="sm-campaign-image">'+campaignimage + '</span>' + item.CampaignName + '</a></td>');
              mostRecentCampaigns.append('<td class="advertiser"><a href="#/advertiser/overview/">'+ advertiserimage +'</a></td>');
              mostRecentCampaigns.append('<td class="startdate">'+ item.StartDate +'</td>');
              mostRecentCampaigns.append('<td>'+ item.EndDate +'</td>');
              mostRecentCampaigns.append('<td class="budget"><span class="currency">$</span>'+ item.Budget +'</td>');
              mostRecentCampaigns.append('<td class="planned"><a href="#/campaign/mediaplan-grid/'+i+'"><span class="currency">$</span>'+ item.Planned +'</a></td>');
              mostRecentCampaigns.append('<td class="percentplanned">'+ percentplannedbar +'</td>');
              mostRecentCampaigns.append('<td>'+ item.LastViewed +'</td>');
              mostRecentCampaigns.append('</tr>');
              mostRecentCampaigns.appendTo("#MostRecentCampaigns");
        }      
        
        })

        
      }
      
</script>
