
<div id="bionic-home" class="block fullwidth">
    
    <div class="bionic-header block fullwidth">
    
        <h1>
            <span class="avatar"></span>
            Good Afternoon, Elizabeth!
        </h1>
    
        <ul class="bionic-tab-menu block fullwidth">
       
            <li class="current">Home</li>
            <li>Advertisers</li>
            <li>Campaigns</li>
            <li>Tasks</li>
       
        </ul>

    </div>

    <div class="bionic-content block fullwidth">

    <h2>Most Recent Campaign</h2>
        
        <div class="module block fullwidth">
        
            <a href="#/campaign/overview">Media Plan</a>
        
        </div>
    
    <h2>Tasks to Do Now</h2>
        
        <div class="module block fullwidth">
        
            
        </div>
    
    </div>
</div>

<div class="note" id="bionic-home-note-1">
Here's the content
<a>Next</a>
</div>