<!-- Header -->

<div class="header">
    <strong>Impressions for '+item.AdvertiserName+'</strong>
</div>

<!-- Content -->
        
<div class="content">
    <span class="secondary">Overall Goal</span>
    <span>999,999</span><br>
    
    <span class="sparkline"><span>
</div>
<div class="divider">
    <i class="fa fa-arrow-right"></i><br>
    <i class="fa fa-arrow-right"></i>
</div>
<div class="content">
    <span class="secondary">Period Goal</span>
    <span>999,999,999</span><br>
    
    <span class="secondary">Period Actual</span>
    <span>999,999</span>
</div>
<div class="divider bracket">
    <span>}</span>
</div>
<div class="content pace">
    <br>
    <span class="secondary">Pace</span>
    Unknown
</div>
<div class="divider emo-arrow">
    <i class="fa fa-arrow-right"></i>
</div>
<div class="content emo">
    <span class="emoticon performance-table happy"></span>
    <a class="right">View Details</a>
</div>

<!-- Footer -->

<div class="footer">
    Data Source: <a>Google Analytics</a>
</div>

<script>
$(".sparkline").sparkline([5,9,2,12,20,6,5,18], {
    type: 'line',
    width: '70',
    height: '24',
    lineColor: '#003f7f',
    fillColor: '',
    lineWidth: 2,
    spotColor: '#8cbbea',
    minSpotColor: '',
    maxSpotColor: '',
    highlightSpotColor: '',
    highlightLineColor: '',
    spotRadius: 3.5});  
</script>
    