
<div id="bionic-home" class="block fullwidth">
    
    <div class="bionic-header block fullwidth">
    
        <h1>
            <span class="avatar"></span>
            Good Afternoon, Elizabeth!
        </h1>
    
        <ul class="bionic-tab-menu block fullwidth">
       
            <li><a href="#/">Home</a></li>
            <li><a href="#/advertisers">Advertisers</a></li>
            <li><a href="#/campaigns">Campaigns</a></li>
<!--             <li><a href="#/schedule">Schedule</a></li> -->
            <li><a href="#/tasks">Tasks</a></li>
            <li><a href="#/allocations">Allocations</a></li>
            <li><a href="#/performance" class="current">Performance</a></li>
        </ul>

    </div>
    
    <div class="nxm-menu-bar nxm-menu-filters">
        <ul class="page-view-toggle">
            <li>
                <input type="radio" name="task-view-toggle" id="task-view-toggle-list" value="listView" checked="">
                <label for="task-view-toggle-list">
                    <i class="fa fa-table" aria-hidden="true"></i>Table
                </label>
            </li>
            <li>
                <input type="radio" name="task-view-toggle" id="task-view-toggle-workload" value="workloadView">
                <label for="task-view-toggle-workload">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>Chart
                </label>
            </li>
        </ul>
        
        <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-calculator"></i> USD - US Dollars</div>
        
        <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-filter"></i> All Dates</div>
        
        <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-list-ul"></i> Daily Breakdown</div>

        <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-list-ul"></i> All KPIs</div>
        
    </div>

</div>
