
<div id="bionic-home" class="block fullwidth">
    
    <div class="bionic-header block fullwidth">
    
        <h1>
            <span class="avatar"></span>
            Good Afternoon, Elizabeth!
        </h1>
    
        <ul class="bionic-tab-menu block fullwidth">
       
            <li><a href="#/">Home</a></li>
            <li><a href="#/advertisers">Advertisers</a></li>
            <li><a href="#/campaigns">Campaigns</a></li>
            <li><a href="#/schedule">Schedule</a></li>
            <li><a href="#/tasks" class="current">Tasks</a></li>
       
        </ul>

    </div>
    
    <div class="bionic-filter bionic-filter-off" style="margin-left: 25px; margin-bottom: 0;"><i class="fa fa-filter"></i> All Tasks</div>

</div>
