/* line 1, ../../sass/components/code.scss */
.code-wrapper {
  margin-top: 10px;
}

/* line 5, ../../sass/components/code.scss */
#content pre.prettyprint {
  width: 600px;
  padding: 0 20px;
  border: none;
  background: #f5f6f7;
  margin-top: 0;
}

/* line 13, ../../sass/components/code.scss */
#content .code-wrapper::before {
  content: "code";
  font-size: 11px;
  border-bottom: none;
  color: #999;
  margin-top: 10px;
}
