.grid.fixedTable { 
    
        &.budget {
        
            .locked td:not(.line-number) {
//                 background: #f5f6f7;
//                 color: #999;

                img {
//                     opacity: .5;
                }
                
            }
            
            .monthly {
                display: none;
            }
            .monthly.inline {
                display: inline-block;
            }
            
            .deleted {
                display: none;
            }
            
            
            #gridBody .deleted
            {
                span {
                    display: none;
                }    
            }
            
            .deleted a {
                color: #333;
//                 text-decoration: line-through;
            }
            
            .deleted strong {
                font-weight: normal;
            }
            
            .deleted .del {
                color: #999;
                display: inline;
                padding: 0;
                text-transform: uppercase;
                font-size: 11px;
            }
            
            .deleted .budget {
                color: #999;
                text-decoration: line-through;
            }
            
            tr:not(.locked):hover,
            tr:not(.total):not(.locked):hover,
            tr:not(.unbucketed):not(.locked):hover,
            tr:not(.locked).hover {
                
                td.authorization, td.budget, td.po-number:not(.total), td.monthly:not(.total):not(.variance) {
                
                    background: #fff !important;
                    border: 1px solid $blue !important;
                
                }
                
                td.authorization {
                    cursor: pointer;
                }
                
                td.authorization span:after {
                    content: '\f0dd ';
                    float: right;
                    font-family: "FontAwesome";
                    padding: 0 0 0 6px;
                    top: -2px;
                    position: relative;
                    color: $nxm-color-gray-medium;
                }
            }
            
            
            
            .menu.media-plan-input-menu {
                margin-top: 0px;
            }
        
             th:nth-child(4) i,
             td:nth-child(4) i {
                 display: block;
                 font-size: 16px;
                 text-align: right;
                 top: -2px;
                 position: relative;
             }
             
             td i {
                 display: inline;
                 line-height: 17px;
                 padding-left: 0;
                 font-size: 18px;
                 vertical-align: text-top;
             }
             
            .fa-question-circle {
                color: $yellow;
            }
            .fa-paper-plane {
                color: $yellow;
            }
            .fa-check {
                color: $green;
                margin-right: -2px;
            }
            .fa-file-text {
                color: $medium-gray;
            }
            .fa-pencil {
                color: $medium-gray;
            }
            .fa-ban {
                color: $red;
            }
             
             .bar {
                 
                img {
                    float: left;
//                     opacity: .5;
                    height: 32px;
                    margin-left: 3px;
                    margin-top: 3px;
                    max-width: 144px;
                }
                
                span {
                    box-sizing: border-box;
                    position: absolute;
                    width: 150px;
                    text-align: right;
                }
                
             }
             
            .cell-with-bar {
                background: url('../images/bar-gray.png') no-repeat;
            }
        
        
        }
    
}