.modal {

    i.orange {
        color: #F39C0F;
    }

    .move {
        width: 620px;

        table {
            
            width: 100%;
            
            tr {
                border-bottom: 1px solid #ddd;
                
                th {
                    border-bottom: 1px solid #cfcfcf;
                    padding: 0 20px 10px;
                    text-align: left;
                }
                
                td {
                    padding: 10px 20px;
                    text-align: left;
                    
                    .bionic-radio {
                        margin: 0;
                    }
                    
                    &:first-child {
                        font-weight: bold;
                        text-align:  left;
                        padding-left: 0;
                    }
                    
                }
            
            &:last-child {
                border: none;
            }
            
            }
        }
        
        hr {
            margin: 15px 0;
            clear: both;
        }

        .bionic-modal-header {

        }

        .bionic-modal-body {
            min-height: auto;
        }

        .bionic-modal-footer {
            clear: both;
            min-height: 40px;
            
            img {
                margin-top: 10px;
            }
        }

    }
    
    .move-to-another-media-plan {
    display: block;
    margin-top: 10px;
//     margin-left: 30px;

        input {
            width: 100%;
        }
    }
    
}