.performance {
    
    .performance-details {
        border: 1px solid #cfcfcf;
        border-radius: 3px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        display: none;
        font-size: 13px;
        position: fixed;
        background: #fff;
        margin-left: -5px;
        margin-top: -208px;
        padding: 15px 20px;
        text-align: left;
        width: 500px;
        z-index: 99;
        
        &::after {
            content: "\f0d7";
            color: #fff;
            font-size: 45px;
            text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
            font-family: FontAwesome;
            position: absolute;
            top: 143px;
            left: 15px;
            width: 0;
            height: 0;
/*
            border-top: solid 15px #fff;
            border-left: solid 15px transparent;
            border-right: solid 15px transparent;
*/
        }
        
        span {
            padding: 0 !important;
        }
        
        .header {
            display: block;
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }
        
         .footer {
            display: block;
            width: 100%;
            margin-top: 5px;
            margin-bottom: -5px;
            float: left;
            border-top: 1px solid #cfcfcf;
            padding-top: 10px;
         }
        
        .secondary {
            color: #999;
        }
        
        .content, .divider {
            display: block;
            float: left;
            width: 100px;
        }
        
        .content {
            &.pace {
                width: 70px;
            }
            
            &.emo {
                width: 72px;
            }
            
        }
        
        .divider {
            width: 40px;
            
            .fa-arrow-right,&.bracket {
                color: #e2e2e2;
            }
            
            &.emo-arrow {
                margin-top: 10px;
            }
            
            .fa-arrow-right {
                font-size: 36px;
            }
        
            &.bracket {
                font-size: 80px;
                line-height: 60px;
                width: 36px;
            }
        
        }
        
        
        .right {
            float: right;
        }
        .emoticon {
            clear: both;
            background-size: 200%;
            padding: 0 !important;
            width: 60px;
            height: 60px;
            margin-left:10px;
            margin-top:7px; float:right;
        }
    }
    
}