.zero-state {
    display: inline-block;
    width: 700px;
    background: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 60px 30px;
    border-radius: 3px;
    
    .zero-state-note {
        font-size: 13px;
    }
    
    a {
        font-size: 13px;
        line-height: 30px;
    }
    
}