/* line 1, ../sass/components/main.scss */
* {
  font-family: "Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 6, ../sass/components/main.scss */
ol, ul, li {
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/components/main.scss */
.checklist li:before {
  content: "\2610";
  margin-right: 5px;
}

/* line 21, ../sass/components/main.scss */
body {
  background: #fff;
  color: #333;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

/* line 29, ../sass/components/main.scss */
p {
  margin-bottom: 20px;
  font-size: 13px;
}

/* line 34, ../sass/components/main.scss */
a {
  color: #69AED4;
  font-weight: bold;
  text-decoration: none;
}

/* line 40, ../sass/components/main.scss */
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 46, ../sass/components/main.scss */
#logo {
  background: #373E42 url("../../images/bionic.svg") no-repeat;
  height: 70px;
  text-indent: -9999em;
  width: 180px;
  background-size: 77px 24px;
  cursor: pointer;
  box-sizing: border-box;
  background-position: 20px 22px;
  position: fixed;
  border-right: 1px solid #e2e2e2;
}

/* line 59, ../sass/components/main.scss */
h1 a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 25px 20px;
}

/* line 66, ../sass/components/main.scss */
h1, h2, h3, h4 {
  clear: both;
  font-weight: normal;
}

/* line 71, ../sass/components/main.scss */
h1 {
  font-size: 32px;
  margin: 18px 0 10px;
}

/* line 76, ../sass/components/main.scss */
h2 {
  font-size: 28px;
  margin: 20px 0 10px;
}

/* line 81, ../sass/components/main.scss */
h3 {
  margin: 20px 0 10px;
  font-size: 18px;
}

/* line 86, ../sass/components/main.scss */
h4 {
  font-size: 16px;
}

/* line 91, ../sass/components/main.scss */
pre {
  font-family: courier,monospace;
}

/* line 95, ../sass/components/main.scss */
#content {
  margin-left: 180px;
  margin-bottom: 50px;
  padding-left: 30px;
  position: absolute;
  width: calc(100% - 240px);
}
/* line 102, ../sass/components/main.scss */
#content p, #content hr {
  width: 600px;
}

/* line 107, ../sass/components/main.scss */
.header {
  background: #4A5155;
  background: #f5f6f7;
  display: block;
  float: left;
  width: 100%;
  padding: 19px 30px 10px;
  margin-left: -31px;
  margin-top: -20px;
  border-bottom: 1px solid #ddd;
}

/* line 120, ../sass/components/main.scss */
.header.home, h2.home {
  padding-top: 100px;
  margin-bottom: 20px;
  font-size: 50px;
}

/* line 127, ../sass/components/main.scss */
#navigation {
  position: fixed;
  width: 180px;
  overflow-y: auto;
  height: calc(100% - 70px);
  border-right: 1px solid #e2e2e2;
  top: 70px;
  background: #373E42;
  box-sizing: border-box;
}

/* line 138, ../sass/components/main.scss */
#navigation li {
  display: block;
  position: relative;
  list-style: none;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 147, ../sass/components/main.scss */
#navigation li a {
  box-sizing: border-box;
  color: #ccc;
  display: block;
  font-weight: normal;
  padding: 5px 5px 5px 20px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

/* line 158, ../sass/components/main.scss */
#navigation .divider {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 11px;
  padding-top: 15px;
  /*         border-top: 1px solid #666; */
  cursor: default;
  font-weight: bold;
}

/* line 170, ../sass/components/main.scss */
#navigation .divider:first-of-type {
  margin-top: 0;
  padding-top: 0px;
}

/* line 175, ../sass/components/main.scss */
#navigation li.top > a {
  padding-left: 20px;
}

/* line 180, ../sass/components/main.scss */
#navigation li a:hover {
  color: #fff;
}

/* line 184, ../sass/components/main.scss */
#navigation li a:visited {
  /*         color: #fafafa; */
}

/* line 188, ../sass/components/main.scss */
#navigation li.top {
  background: url("../../images/angle-right.svg") no-repeat 6px 8px;
}

/* line 191, ../sass/components/main.scss */
#navigation li.top.active {
  background: url("../../images/angle-down.svg") no-repeat 3px 9px;
  color: #fff;
}

/* line 196, ../sass/components/main.scss */
#navigation li.top ul li a {
  padding-left: 35px;
}

/* line 201, ../sass/components/main.scss */
.subnav-container {
  margin-right: 20px;
  float: left;
  display: block;
}

/* line 207, ../sass/components/main.scss */
.subnav-container.right {
  float: right;
  margin-right: 0;
}

/* line 217, ../sass/components/main.scss */
.label {
  font-size: 9px;
  text-transform: uppercase;
  float: left;
  margin-top: -12px;
  position: absolute;
}

/* line 225, ../sass/components/main.scss */
.subnav.view {
  float: left;
}

/* line 229, ../sass/components/main.scss */
.source {
  float: left;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* line 236, ../sass/components/main.scss */
.subnav li {
  float: left;
  border: 1px solid #ccc;
}

/* line 241, ../sass/components/main.scss */
.subnav li:first-child {
  border-radius: 2px 0 0 2px;
}

/* line 244, ../sass/components/main.scss */
.subnav li:last-child {
  border-radius: 0px 2px 2px 0px;
}

/* line 248, ../sass/components/main.scss */
.subnav li.current {
  border: 1px solid #999;
  z-index: 999;
}

/* line 254, ../sass/components/main.scss */
.subnav li.current a {
  color: #333;
}

/* line 257, ../sass/components/main.scss */
.subnav li a, .source {
  color: #999;
  display: block;
  padding: 5px 10px;
}

/* line 263, ../sass/components/main.scss */
.filter {
  clear: both;
  display: block;
  width: 100%;
  font-size: 11px;
  float: left;
  border-bottom: 1px solid #ccc;
  margin-left: -30px;
  box-sizing: border-box;
  padding: 0 30px 0 31px;
}

/* line 275, ../sass/components/main.scss */
.filter li {
  float: left;
  padding: 10px 0px;
  box-sizing: border-box;
  color: #999;
  margin-right: 15px;
}

/* line 283, ../sass/components/main.scss */
.filter li.current {
  font-weight: bold;
  color: #333;
}

/* line 288, ../sass/components/main.scss */
.button {
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
}

/* line 298, ../sass/components/main.scss */
.button.primary {
  background: #69AED4;
}

/* line 302, ../sass/components/main.scss */
.button.secondary {
  background: #9B9B9B;
}

/* line 306, ../sass/components/main.scss */
.button.disabled {
  background: #dddddd;
  color: #c0c0c0;
}

/* line 313, ../sass/components/main.scss */
.spreadsheet {
  width: calc(100% + 59px);
  margin-bottom: 50px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  margin-left: -30px;
  font-size: 13px;
}

/* line 323, ../sass/components/main.scss */
.spreadsheet tr:hover td {
  background-color: #E6F2F8 !important;
  border-bottom: 1px solid #69AED4;
  border-top: 1px solid #69AED4;
}

/* line 329, ../sass/components/main.scss */
.spreadsheet th {
  text-align: left;
  padding: 10px 10px;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  background: #f5f6f7;
}

/* line 338, ../sass/components/main.scss */
.spreadsheet .line-number {
  color: #999;
  width: 15px;
  text-align: center;
  background: #f5f6f7;
}

/* line 345, ../sass/components/main.scss */
.spreadsheet td {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  vertical-align: top;
  border-right: 1px solid #eee;
}

/* line 352, ../sass/components/main.scss */
.spreadsheet .status,
.spreadsheet .type {
  white-space: nowrap;
  text-transform: capitalize;
  width: 40px;
}

/* line 363, ../sass/components/main.scss */
.spreadsheet div.status,
.spreadsheet div.type {
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
  color: #fff;
  color: #333;
}

/* line 377, ../sass/components/main.scss */
.spreadsheet td.status {
  padding-left: 25px;
  background: transparent;
}

/* line 382, ../sass/components/main.scss */
.spreadsheet div.status {
  border: 1px solid #ccc;
  text-align: center;
  width: 10px;
  height: 10px;
  font-size: 8px;
  border-radius: 5px;
  text-transform: uppercase;
  /*         padding: 3px 5px; */
  margin-right: 5px;
}

/* line 394, ../sass/components/main.scss */
.spreadsheet .status.inprogress {
  background: transparent url(images/pencil.svg) no-repeat 5px 5px;
}

/* line 398, ../sass/components/main.scss */
.spreadsheet .status.defer,
.spreadsheet .status.needed {
  color: #999;
}

/* line 403, ../sass/components/main.scss */
.spreadsheet .status.needsreview {
  background: transparent url(images/yield.svg) no-repeat 5px 5px;
  color: orange;
}

/* line 408, ../sass/components/main.scss */
.spreadsheet .status.approved {
  background: transparent url(images/check.svg) no-repeat 7px 7px;
  color: green;
}

/* line 414, ../sass/components/main.scss */
.spreadsheet div.type.screen {
  color: #ccc;
}

/* line 430, ../sass/components/main.scss */
.spreadsheet .name {
  font-weight: bold;
  min-width: 300px;
}

/* line 435, ../sass/components/main.scss */
.link-invision {
  color: #ccc;
}

/*
::-webkit-input-placeholder {
   font-size: 11px;
   font-style: italic;
}

:-moz-placeholder {
   font-size: 11px;
   font-style: italic;
}

::-moz-placeholder {
   font-size: 11px;
   font-style: italic;
}

:-ms-input-placeholder {
   font-size: 11px;
   font-style: italic;
}
*/
/* line 1, ../sass/components/1_basics/colors.scss */
.colors {
  clear: both;
  display: block;
}

/* line 6, ../sass/components/1_basics/colors.scss */
.colors li {
  float: left;
  box-sizing: border-box;
  width: 150px;
  height: 200px;
  background: #fff;
  margin: 0 10px 20px 0;
  border: 1px solid #fff;
}
/* line 15, ../sass/components/1_basics/colors.scss */
.colors li span {
  clear: both;
  display: block;
}

/* line 21, ../sass/components/1_basics/colors.scss */
.colors div {
  display: block;
  float: left;
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
}

/* line 29, ../sass/components/1_basics/colors.scss */
.colors.task div {
  height: 50px;
}

/* line 33, ../sass/components/1_basics/colors.scss */
.colors.task li {
  height: 130;
  margin: 0 10px 20px 0;
}

/* line 38, ../sass/components/1_basics/colors.scss */
.colors.palette div {
  height: 50px;
}

/* line 42, ../sass/components/1_basics/colors.scss */
.colors.palette li {
  margin: 0 10px 20px 0;
  height: 80px;
}

/* line 47, ../sass/components/1_basics/colors.scss */
.colors li {
  color: #333;
}

/* line 51, ../sass/components/1_basics/colors.scss */
.colors li.light {
  color: #333;
}

/* line 55, ../sass/components/1_basics/colors.scss */
.colors .description {
  position: relative;
  float: left;
  margin-top: 10px;
  clear: both;
  width: 100%;
}

/* line 64, ../sass/components/1_basics/colors.scss */
.colors.primary {
  width: 800px;
}

/* line 68, ../sass/components/1_basics/colors.scss */
.colors.palette {
  width: 600px;
}

/* line 1, ../sass/components/1_basics/icons.scss */
.bdg-icons {
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 700px;
}

/* line 8, ../sass/components/1_basics/icons.scss */
.bdg-icons li {
  padding: 10px;
  border: 1px solid #eee;
  border-collapse: collapse;
  float: left;
  text-align: center;
  height: 80px;
  width: 80px;
}

/* line 1, ../sass/components/1_basics/numbers.scss */
.bdg-numbers {
  background: #eee;
  display: inline-block;
  font-size: 24px;
  margin: 10px 0;
  padding: 10px 20px;
}

/* line 9, ../sass/components/1_basics/numbers.scss */
.bdg-numbers .bdg-currency-symbol {
  color: #999;
}

/* Typography */
/* line 2, ../sass/components/1_basics/typography.scss */
table.headings {
  box-sizing: border-box;
  border: none;
}

/* line 7, ../sass/components/1_basics/typography.scss */
.headings td {
  padding: 10px 0 10px;
  margin: none;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  width: 300px;
}

/* line 15, ../sass/components/1_basics/typography.scss */
.headings td * {
  display: inline;
}

/* line 19, ../sass/components/1_basics/typography.scss */
.pixels {
  color: #999;
}

/* line 23, ../sass/components/1_basics/typography.scss */
.headings .nomargin {
  margin: 0 0 10px !important;
  color: #333;
  width: auto;
  display: inline;
}

/* line 30, ../sass/components/1_basics/typography.scss */
.headings h1,
.headings h2,
.headings h3,
.headings h4 {
  font-weight: bold;
}

/* line 37, ../sass/components/1_basics/typography.scss */
.monospace {
  font-family: monospace;
}

/* line 1, ../sass/components/2_elements/buttons.scss */
.blue-button,
.green-button,
.gray-button,
.button-c,
.gray-button {
  display: inline-block;
  font-size: 1em;
  padding: 8px 20px;
  line-height: 20px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;
  position: relative;
  font-weight: 700 !important;
}

/* line 19, ../sass/components/2_elements/buttons.scss */
.blue-button {
  display: inline-block;
  color: white !important;
  position: relative;
  background: #6CAFD2;
  color: white;
  border: 1px solid #6CAFD2;
}

/* line 29, ../sass/components/2_elements/buttons.scss */
.blue-button:hover {
  background: #60B2DB;
}

/* line 33, ../sass/components/2_elements/buttons.scss */
.blue-button:disabled,
.blue-button.disabled,
.blue-button.disabled:hover {
  background: #eee;
  border: 0px solid #eee;
  color: #c0c0c0 !important;
  cursor: default;
}

/* line 42, ../sass/components/2_elements/buttons.scss */
#crumbs .blue-button {
  margin-top: 4px;
  padding: 8px 20px;
}

/* line 47, ../sass/components/2_elements/buttons.scss */
.button-c {
  background-color: #999;
  color: #fff !important;
}

/* line 52, ../sass/components/2_elements/buttons.scss */
.button-c-disabled {
  opacity: 0.8;
}

/* line 56, ../sass/components/2_elements/buttons.scss */
.green-button {
  color: white !important;
  position: relative;
  background: #65a000;
}

/* line 63, ../sass/components/2_elements/buttons.scss */
input[type="submit"].gray-button,
input[type="button"].gray-button,
.gray-button {
  background: #eee;
  color: #888 !important;
  border: 1px solid #eee;
}

/* line 71, ../sass/components/2_elements/buttons.scss */
.gray-button:hover {
  background: #e2e2e2;
}

/* line 77, ../sass/components/2_elements/buttons.scss */
.small-button {
  padding: 0 20px;
}

/* line 81, ../sass/components/2_elements/buttons.scss */
.blue-button:disabled {
  background: #B5B5B5;
  color: #888 !important;
}

/* line 86, ../sass/components/2_elements/buttons.scss */
.button-link {
  padding: 8px 20px !important;
  line-height: 20px;
  background: none !important;
}
/* line 90, ../sass/components/2_elements/buttons.scss */
.button-link.under-line {
  text-decoration: underline;
}

/* line 2, ../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"] {
  display: none;
}
/* line 5, ../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"]:checked + label .box {
  border: 3px solid #69AED4;
  background-color: #69AED4;
  background-image: url("../images/check_mark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}
/* line 14, ../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"]:disabled + label {
  color: #ccc !important;
  cursor: default;
}
/* line 18, ../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox input[type="checkbox"]:disabled + label .box {
  border-color: #ddd !important;
  background-color: #ddd;
}
/* line 25, ../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox label {
  display: inline !important;
  font-size: 13px !important;
  cursor: pointer;
}
/* line 31, ../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox label span:first-child.box {
  top: -3px;
  position: relative;
  height: 16px;
  width: 16px;
  border: 3px solid #eee;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  background: #fff;
}
/* line 44, ../sass/components/2_elements/checkboxes.scss */
.bionic-checkbox label span.text {
  vertical-align: top;
  position: relative;
  top: 3px;
  display: inline-block;
  width: calc(100% - 33px);
  line-height: 18px;
  padding: 2px 0 3px;
}

/* line 1, ../sass/components/2_elements/dropdowns.scss */
input.ui-autocomplete-input-with-arrow {
  background-image: url("../images/arrow-down.svg");
  background-origin: padding-box;
  background-position: right 7px center, right center;
  background-repeat: no-repeat;
  background-size: auto auto;
  box-sizing: border-box;
  width: 230px;
}

/* line 1, ../sass/components/2_elements/inputs.scss */
input[type=text],
textarea,
input[readonly]:focus {
  font-size: 13px;
  border: 3px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 10px;
}

/* line 12, ../sass/components/2_elements/inputs.scss */
input[type=text]:not(.no-outline):focus,
textarea:not(.no-outline):focus {
  border: 3px solid #6BADD1 !important;
  outline: none !important;
  display: inline-block;
}

/* line 19, ../sass/components/2_elements/inputs.scss */
input[type=text][readonly] {
  color: #999;
}

/* line 23, ../sass/components/2_elements/inputs.scss */
input[type=text][readonly]:focus {
  border-color: #eee !important;
}

/* line 27, ../sass/components/2_elements/inputs.scss */
input[type=text].datepicker {
  width: 120px;
  background-image: url(../images/calendar.svg);
  background-position: right 7px center, right center;
  background-repeat: no-repeat;
}

/* line 1, ../sass/components/2_elements/links.scss */
a.bdg {
  color: #6EB3D6;
  text-decoration: none;
  cursor: pointer;
}

/* line 1, ../sass/components/code.scss */
.code-wrapper {
  margin-top: 10px;
}

/* line 5, ../sass/components/code.scss */
#content pre.prettyprint {
  width: 600px;
  padding: 0 20px;
  border: none;
  background: #f5f6f7;
  margin-top: 0;
}

/* line 13, ../sass/components/code.scss */
#content .code-wrapper::before {
  content: "code";
  font-size: 11px;
  border-bottom: none;
  color: #999;
  margin-top: 10px;
}
