<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1>AutoTrader.com | 768x90 - Leaderboard</h1>
    
    <span class="bionic-campaign-summary block fullwidth">April 01, 2016 - October 31, 2016</span>
    
    <ul class="bionic-tab-menu">
        <li><a href="#/campaign/line-item/">Overview</a></li>
        <li><a href="#/campaign/line-item/">Cost</a></li>
        <li><a href="#/campaign/line-item/">Tasks</a></li>
        <li><a href="#/campaign/line-item/" class="current">KPI Goals</a></li>
        <li><a href="#/campaign/line-item/">Performance</a></li>
    </ul>
</div>

<div class="block bionic-page">

    <h2>Key Performance Indicator (KPI) Goals</h2>
                   
    <table class="goals custom-form-controls gridlines">  
        <thead>
            <tr>
                <th colspan="1">KPI</th>
                <th colspan="2">Cost Efficiency</th>
                <th colspan="2">Cost Basis</th>
                <th class="right">KPI Goal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Impressions</td>
                <td class="editable" style="width: 140px;"><span class="currency-symbol">$</span><input class="narrow right" type="text" value="25.00"></td>
                <td class="">CPM - Cost per Thousand</td>
                <td class="right "><span class="currency-symbol">$</span>80,500.00</td>
                <td class="">Total Media Cost</td>
                <td class="editable narrow" style="width: 140px"><input type="text" class="right narrow" value="3,220,000"></td>
            </tr>
            <tr>
                <td>Clicks</td>
                <td class="editable narrow custom"><span class="currency-symbol">$</span><input class="narrow right" type="text" value="11.50"></td>
                <td class="">CPC - Cost per Click</td>
                <td class="right "><span class="currency-symbol">$</span>63,000.00</td>
                <td class="">Net Media Cost</td>
                <td class="editable narrow"><input type="text" class="right narrow" value="6,300"></td>
            </tr>
            <tr>
                <td>Customers</td>
                <td class="editable narrow"><span class="currency-symbol">$</span><input class="narrow right" type="text" value="600.00"></td>
                <td class="">CAC - Customer Acquisition Cost</td>
                <td class="right "><span class="currency-symbol">$</span> 84,000.00</td>
                <td class="">Total Cost</td>
                <td class="editable narrow"><input type="text" class="right narrow" value="140"></td>
            </tr>
        </tbody>
    </table>
<br>
<a class="blue-button open-modal" href="templates/modals/settings/addmetrics.html" rel="modal:open" >Add KPIs</a>
    
    <p style="margin-left:15px;">Go to <a href="#/campaign/settings-kpis/0" style="font-weight:bold;">Campaign Settings - KPI Columns</a> to adjust cost basis or to add more  KPIs</p>
</div>

<script>
      if(Campaigns.length > 0){setCampaignInfo();}
      
//       $("body").tooltip();

/*
      $( ".tooltip.custom" ).tooltip({
        content: "Here is your HTML"
      });
*/
          
      
</script>