<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1>AutoTrader.com | 768x90 - Leaderboard</h1>
    
    <span class="bionic-campaign-summary block fullwidth">April 01, 2016 - October 31, 2016</span>
    
    <ul class="bionic-tab-menu">
        <li><a href="#/line/line-overview/" class="current">Overview</a></li>
        <li><a href="#/line/line-cost/">Cost</a></li>
        <li><a href="#/line/line-item/">Tasks</a></li>
        <li><a href="#/line/line-item/">KPI Goals</a></li>
        <li><a href="#/line/line-item/">Performance</a></li>
    </ul>
</div>

<div class="block bionic-page">


</div>

<script>
      if(Campaigns.length > 0){setCampaignInfo();}
      
//       $("body").tooltip();

/*
      $( ".tooltip.custom" ).tooltip({
        content: "Here is your HTML"
      });
*/
          
      
</script>