<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1>AutoTrader.com | 768x90 - Leaderboard</h1>
    
    <span class="bionic-campaign-summary block fullwidth">April 01, 2016 - October 31, 2016</span>
    
    <script type="text/template" class="lineNav">

    	<ul class="bionic-tab-menu">
    		<% _.each( bionic.lineNavItems, function( lineNavItem ){ %>
            <% 
                var url = window.location.href;
                var theID = url.substring(url.lastIndexOf('/') + 1);
                var directory = url.substring(url.lastIndexOf('#/line/'));
                var group = lineNavItem.group;

                if (window.location.hash.substr(1,10) == lineNavItem.page.substr(1,10)){ var currentnav = 'class="current"'; } 
            %>
    			<li>
    				<a <%= currentnav %> href="<%- lineNavItem.page %>"><%- lineNavItem.name %></a>
    			</li>
    
    		<% }); %>
    	</ul>   
    	 
	</script>
    
</div>

    <div class="nxm-menu-filters" style="margin-bottom: 5px;">
        <ul class="page-view-toggle">
            <li>
                <input type="radio" name="task-view-toggle" id="task-view-toggle-list" value="listView" checked="">
                <label for="task-view-toggle-list">
                    <i class="fa fa-table" aria-hidden="true"></i>Table
                </label>
            </li>
            <li>
                <input type="radio" name="task-view-toggle" id="task-view-toggle-workload" value="workloadView">
                <label for="task-view-toggle-workload">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>Chart
                </label>
            </li>
        </ul>
        
        <div class="filter-container">
            <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-calculator"></i> USD - US Dollars</div>
            <div class="menu filterTypeMenu">
                <ul>
                    <li>Production</li>
                    <li>Delivery</li>
                </ul>
            </div>
        </div>
        <div class="filter-container">
            <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-filter"></i> All Dates</div>
            <div class="menu filterTypeMenu">
                <ul>
                    <li>Production</li>
                    <li>Delivery</li>
                </ul>
            </div>
        </div>
        <div class="filter-container">
            <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-list-ul"></i> Daily Breakdown</div>
            <div class="menu filterTypeMenu">
                <ul>
                    <li>Production</li>
                    <li>Delivery</li>
                </ul>
            </div>
        </div>
        <div class="filter-container">
            <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-columns"></i> All KPIs</div>
            <div class="menu filterTypeMenu">
                <ul>
                    <li>Production</li>
                    <li>Delivery</li>
                </ul>
            </div>
        </div>
        
        <div class="action-menu-button"><i class="fa fa-download"></i> Download</div>
        
    </div>

</div>

<div class="grid fixedTable block performance performance-advertisers custom-form-controls" id="grid">
  
  <table class="gridFirstColumnHeader">
      <thead>
          <tr>
              <th class="col-45"><span class="header center">#</span></th>
              <th class="col-275"><span class="header"><a>Timeframe <i class="fa fa-caret-down"></i></a></span></th>
          </tr>
      </thead>
  </table>

  <header class="fixedTable-header block">
    <table>
        <thead>
        <tr>
          <th class="col-100"><span><a>First Data</a></span></th>
          <th class="col-100 "><span><a>Last Data</a></span></th>
          <th class="col-200"><span class="right"><a>Net Media Cost</a></span></th>
          <th class="col-200"><span class="right"><a>Impressions</a></span></th>
          <th class="col-150"><span class="right"><a>CPM</a></span></th>
          <th class="col-150"><span class="right"><a>Clicks</a></span></th>
          <th class="col-150"><span class="right"><a>CPC</a></span></th>
          <th class="col-150"><span class="right"><a>CTR</a></span></th>
          <th class="col-200"><span class="right"><a>Customers</a></span></th>
          <th class="col-200"><span class="right"><a>CAC</a></span></th>
        </tr>
        </thead>
    </table>
  </header>
  
  <aside class="fixedTable-sidebar block">
    <table class="table table-bordered grid" id="gridFirstColumns">
        <tbody>
        </tbody>
    </table>
  </aside>
  
  <div class="fixedTable-body block">
    <table class="table table-bordered grid" id="gridBody">
        <tbody>
        </tbody>
    </table>
  </div>
  
</div>

<div class="performance">
    <div class="performance-details">
    </div>
</div>
<script>

    $("body").click(function () {        

        $(".menu").hide();
        $(".performance-details").hide();

    });

    $(".bionic-filter").click(function (event) {        
        event.stopPropagation();
        $(".menu").hide();
        $(this).next(".menu").show();
    });
    
    $(".menu").click(function (event) {        
        event.stopPropagation();
    });
    

    
    var dataTab = "PerformanceLine";
    
    $(document).ready( function() {


    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     wanted: [ dataTab ],
                    // query:["state=done and (name=performance or name=flowchart)"],
                     debug: true } );
                    });
        
      function showInfo(data, tabletop) {
    
        $.each( tabletop.sheets(dataTab).all(), function(i, item) {
          
          var rowNumber, symbol;
                        
          rowNumber = i++;
          
          if(item.Timeframe != "Total"){
          
              costsTableFirstColumns = $('<tr class="admin"><td class="line-number col-45"></td>');
              costsTableFirstColumns.append('<td class="col-275" style="border-right:0;"><span>'+ item.Timeframe +'</span></td>');
              costsTableFirstColumns.append('</tr>');
              costsTableFirstColumns.appendTo("#gridFirstColumns tbody");
                        
              costsTableBody = $('<tr class="admin '+ item.FirstData +'">');
              costsTableBody.append('<td class="col-100"><span>'+ item.FirstData +'</span></td>');
              costsTableBody.append('<td class="col-100"><span>'+ item.LastData +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table sleepy"></span><span style="padding:0; margin-top:11px;" class="currency-symbol">$</span><span>'+ item.NetMediaCost +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table happy"></span><span>'+ item.Impressions +'</span><div class="performance-details"><strong>Impressions for '+item.AdvertiserName+'</strong></div></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table angry"></span><span style="padding:0; margin-top:11px;" class="currency-symbol">$</span><span>'+ item.CPM +'</span></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table big-grin"></span><span> '+ item.Clicks +'</span></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table smug"></span><span style="padding:0; margin-top:11px;" class="currency-symbol">$</span><span> '+ item.CPC +'</span></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table straight-face"></span><span> '+ item.CTR +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table unhappy"></span><span> '+ item.Customers +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table sleepy"></span><span style="padding:0; margin-top:11px;" class="currency-symbol">$</span><span> '+ item.CAC +'</span></td>');
              costsTableBody.append('</tr>');
              costsTableBody.appendTo("#gridBody tbody");
          
          } else {
              
              costsTableFirstColumns = $('<tr class="total">');
              costsTableFirstColumns.append('<td colspan="2" class="col-275" style="border-right:0; padding-left:5px;"><span><strong>'+ item.Timeframe +'</strong></span></a></td>');
              costsTableFirstColumns.append('</tr>');
              costsTableFirstColumns.appendTo("#gridFirstColumns tbody");
                        
              costsTableBody = $('<tr class="total '+ item.FirstData +'">');
              costsTableBody.append('<td class="col-100"><span>'+ item.FirstData +'</span></td>');
              costsTableBody.append('<td class="col-100"><span>'+ item.LastData +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table sleepy"></span><span style="padding:0; margin-top:11px;" class="currency-symbol">$</span><span>'+ item.NetMediaCost +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table happy"></span><span>'+ item.Impressions +'</span></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table angry"></span><span style="padding:0; margin-top:11px;" class="currency-symbol">$</span><span>'+ item.CPM +'</span></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table big-grin"></span><span> '+ item.Clicks +'</span></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table smug"></span><span> '+ item.CPC +'</span></td>');
              costsTableBody.append('<td class="col-150 right"><span class="emoticon performance-table straight-face"></span><span> '+ item.CTR +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table unhappy"></span><span> '+ item.Customers +'</span></td>');
              costsTableBody.append('<td class="col-200 right"><span class="emoticon performance-table sleepy"></span><span style="padding:0; margin-top:11px;" class="currency-symbol">$</span><span> '+ item.CAC +'</span></td>');
              costsTableBody.append('</tr>');
              costsTableBody.appendTo("#gridBody tbody");
          }
        })
    
        $(".emoticon").click(function(){
            event.stopPropagation();
            $('.performance-details').hide();
            $(event.target).closest("td").find('.performance-details').load("templates/line/performance-details.html");
            $(event.target).closest("td").find('.performance-details').show();
            
        });

        $(".performance-details").click(function (event) {        
            event.stopPropagation();
        });

      }

      


</script>

<script type="text/javascript">

    // ------------------------------------------------
    // Set Up the Fixed First Column Table
    
    (function() {
      var grid, fixedTable;
    
      fixedTable = function(el) {
        var $body, $header, $sidebar;
        $body = $(el).find('.fixedTable-body');
        $sidebar = $(el).find('.fixedTable-sidebar table');
        $header = $(el).find('.fixedTable-header table');
        return $($body).scroll(function() {
          $($sidebar).css('margin-top', -$($body).scrollTop());
          return $($header).css('margin-left', -$($body).scrollLeft());
        });
      };
    
      grid = new fixedTable($('#grid'));
    
    }).call(this);

    // ------------------------------------------------
    // Make the rows highlight with Fixed First Column   
    
    $(document).on({
    mouseenter: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
    },
    mouseleave: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").removeClass("hover")
    });
    }
    }, "#grid table tr");
    
</script>

<script>
      if(Campaigns.length > 0){setCampaignInfo();}
      
//       $("body").tooltip();

/*
      $( ".tooltip.custom" ).tooltip({
        content: "Here is your HTML"
      });
*/
          
      
</script>

<script type="text/javascript" src="templates/line/nav-line.js"></script>
