<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1>Ignition Media</h1>
    
    <ul class="bionic-tab-menu" style="margin-top:10px;">
        <li><a href="#/admin/admin-overview/">Overview</a></li>
        <li><a href="#/admin/admin-settings/">Settings</a></li>
        <li><a href="#/admin/admin-usage/">Usage</a></li>
        <li><a href="#/admin/admin-cost-columns/" class="current">Cost Columns</a></li>
        <li><a href="#/admin/admin-task-names/">Task Names</a></li>
        <li><a href="#/admin/admin-picklist-columns/">Picklist Columns</a></li>
    </ul>

</div>

    <div class="nxm-menu-bar nxm-menu-filters" style="margin-right: 0px;">
        <div class="filter-section filter-search-master">
        <input type="text" placeholder="Search" value="" required id="advertisers-filter-search-master" class="filter-search-master nxm-bg-search" autofocus="" style="width: 180px;">
        <span id="clear-search" class="clear-search-filter">
            <i class="fa fa-times-circle"></i>
        </span>
        </div>
    </div>


<div style="float: left; display: block; margin-left: 0px;">
    <div class="bionic-filter filterStatus bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-filter"></i> Any Status</div>
        <div class="menu filterStatusMenu">
            <ul>
                <li>Active</li>
                <li>Inactive</li>
            </ul>
        </div>
</div>


<div style="float: left; display: block; margin-left: 8px;">
    <div class="bionic-filter filterType bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-filter"></i> All Cost Types</div>
        <div class="menu filterTypeMenu">
            <ul>
                <li>Production</li>
                <li>Delivery</li>
            </ul>
        </div>
</div>


<ul class="bionic-action-menu block">
    <li><a href="templates/modals/settings/add-new-cost.html" rel="modal:open" ><i class="fa fa-plus"></i>Add New Cost</a></li>
    <li id="action-deactivate" class="row-select disabled"><a><i class="fa fa-ban"></i>Deactivate</a></li>
    <li id="action-delete"  class="row-select disabled"><a><i class="fa fa-trash"></i>Delete</a></li>
</ul>


<div class="grid fixedTable block costs custom-form-controls" id="grid">
  
  <table class="gridFirstColumnHeader">
      <thead>
          <tr>
              <th class="col-45"><span class="header center">#</span></th>
              <th class="col-30 no-right-border"><input id="cb0" type="checkbox"><label for="cb0"></label></th>
              <th class="col-275"><span class="header" style="padding-left: 5px"><a>Cost Name <i class="fa fa-caret-down"></i></a></span></th>
          </tr>
      </thead>
  </table>

  <header class="fixedTable-header block">
    <table>
        <thead>
        <tr>
          <th class="col-100"><span><a>Status</a></span></th>
          <th class="col-100 right"><span><a>Campaigns</a></span></th>
          <th class="col-100"><span><a>Type</a></span></th>
          <th class="col-300"><span><a>Calculation</a></span></th>
          <th class="col-150"><span class="right">Rate</span></th>
          <th class="col-150"><span><a>Overage Buffer</a></span></th>
        </tr>
        </thead>
    </table>
  </header>
  
  <aside class="fixedTable-sidebar block">
    <table class="table table-bordered grid" id="gridFirstColumns">
        <tbody>
        </tbody>
    </table>
  </aside>
  
  <div class="fixedTable-body block">
    <table class="table table-bordered grid" id="gridBody">
        <tbody>
        </tbody>
    </table>
  </div>
  
</div>


<script>
    
      var costsTab = "AdditionalCosts";
    
      $(document).ready( function() {
        
        $(".filterType").click(function () {
            $(".filterTypeMenu").toggle();
        });
        
        
        $(".filterStatus").click(function () {
            $(".filterStatusMenu").toggle();
        });
        
        $('label').click( function(){
            alert("ADsfadsf");
            $("#action-deactivate").toggleClass("disabled");
            $("#action-delete").toggleClass("disabled");
        });
        
        
        Tabletop.init( { key: public_spreadsheet_url,
                         callback: showInfo,
                         wanted: [ costsTab ],
                        // query:["state=done and (name=performance or name=flowchart)"],
                         debug: true } )
      })
        
      function showInfo(data, tabletop) {
    
        $.each( tabletop.sheets(costsTab).all(), function(i, item) {
          
          var rowNumber, symbol,
              costsTableFirstColumns,
              costsTableBody;

              if(item.CalculationValue.includes("%")){
                  symbol = ""
              } else {
                  symbol = '<span style="padding:0; margin-top:11px;" class="currency-symbol">$</span>';
              }
          
          rowNumber = i++;
          
          costsTableFirstColumns = $('<tr class="admin '+ item.Status +'"><td class="line-number col-45"></td>');
          costsTableFirstColumns.append('<td class="col-30 no-right-border"><input id="cb'+i+'" type="checkbox"><label for="cb'+i+'"></label></td>');
          costsTableFirstColumns.append('<td class="col-275 no-left-border" style="border-right:0;"><a href="templates/modals/settings/editcost.html" rel="modal:open" ><span><strong>'+ item.Name +'</strong></span></a></td>');
          costsTableFirstColumns.append('</tr>');
          costsTableFirstColumns.appendTo("#gridFirstColumns tbody");
                    
          costsTableBody = $('<tr class="admin '+ item.Status +'">');
          costsTableBody.append('<td class="col-75"><span>'+ item.Status +'</span></td>');
          costsTableBody.append('<td class="col-100 right"><span><a>'+ item.Campaigns +'</a></span></td>');
          costsTableBody.append('<td class="col-100"><span>'+ item.Type +'</span></td>');
          costsTableBody.append('<td class="col-300"><span>'+ item.CalculationCost +'</span></td>');
          costsTableBody.append('<td class="col-150 right">'+symbol+'<span> '+ item.CalculationValue +'</span></td>');
          costsTableBody.append('<td class="col-150 right"><span> '+ item.OverageBuffer +'</span></td>');
          costsTableBody.append('</tr>');
          costsTableBody.appendTo("#gridBody tbody");
                    
        })
    
      }

</script>

<script type="text/javascript">

    // ------------------------------------------------
    // Set Up the Fixed First Column Table
    
    (function() {
      var grid, fixedTable;
    
      fixedTable = function(el) {
        var $body, $header, $sidebar;
        $body = $(el).find('.fixedTable-body');
        $sidebar = $(el).find('.fixedTable-sidebar table');
        $header = $(el).find('.fixedTable-header table');
        return $($body).scroll(function() {
          $($sidebar).css('margin-top', -$($body).scrollTop());
          return $($header).css('margin-left', -$($body).scrollLeft());
        });
      };
    
      grid = new fixedTable($('#grid'));
    
    }).call(this);

    // ------------------------------------------------
    // Make the rows highlight with Fixed First Column   
    
    $(document).on({
    mouseenter: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
    },
    mouseleave: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").removeClass("hover")
    });
    }
    }, "#grid table tr");
    
</script>