<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1>Ignition Media</h1>
    
    <ul class="bionic-tab-menu" style="margin-top:10px;">
        <li><a href="#/admin/admin-overview/">Overview</a></li>
        <li><a href="#/admin/admin-settings/">Settings</a></li>
        <li><a href="#/admin/admin-usage/">Usage</a></li>
        <li><a href="#/admin/admin-task-names/">Task Names</a></li>
        <li><a href="#/admin/admin-cost-columns/" class="current">Cost Columns</a></li>
        <li><a href="#/admin/admin-picklist-columns/">Picklist Columns</a></li>
    </ul>

</div>


<div class="bionic-filter bionic-filter-off" style="margin-left: 25px; margin-bottom: 0;"><i class="fa fa-filter"></i> All Cost Types</div>

<ul class="bionic-action-menu block">
    <li><a><i class="fa fa-plus"></i>Add New Cost</a></li>
    <li class="row-select disabled"><a><i class="fa fa-lock"></i>Lock</a></li>
    <li class="row-select disabled"><a><i class="fa fa-trash"></i>Delete</a></li>
</ul>


<div class="grid fixedTable block costs custom-form-controls" id="grid">
  
  <table class="gridFirstColumnHeader">
      <thead>
          <tr>
              <th class="col-45"><span class="header center">#</span></th>
              <th class="col-30 no-right-border"><input id="cb0" type="checkbox"><label for="cb0"></label></th>
              <th class="col-275"><span class="header" style="padding-left: 5px"><a>Cost Name</a></span></th>
          </tr>
      </thead>
  </table>

  <header class="fixedTable-header block">
    <table>
        <thead>
        <tr>
          <th class="col-100"><span><a>Status</a></span></th>
          <th class="col-100 right"><span><a>Campaigns</a></span></th>
          <th class="col-100"><span><a>Type</a></span></th>
          <th class="col-150 combine"><span>Calculation</span></th>
          <th class="col-150 combine"><span></span></th>
          <th class="col-150 combine"><span></span></th>
        </tr>
        </thead>
    </table>
  </header>
  
  <aside class="fixedTable-sidebar block">
    <table class="table table-bordered grid" id="gridFirstColumns">
        <tbody>
        </tbody>
    </table>
  </aside>
  
  <div class="fixedTable-body block">
    <table class="table table-bordered grid" id="gridBody">
        <tbody>
        </tbody>
    </table>
  </div>
  
</div>


<script>
    
      var costsTab = "AdditionalCosts";
    
      $(document).ready( function() {
        
        Tabletop.init( { key: public_spreadsheet_url,
                         callback: showInfo,
                         wanted: [ costsTab ],
                        // query:["state=done and (name=performance or name=flowchart)"],
                         debug: true } )
      })
        
      function showInfo(data, tabletop) {
    
        $.each( tabletop.sheets(costsTab).all(), function(i, item) {
          
          var rowNumber,
              costsTableFirstColumns,
              costsTableBody;
          
          rowNumber = i++;
          
          costsTableFirstColumns = $('<tr><td class="line-number col-45"></td>');
          costsTableFirstColumns.append('<td class="col-30 no-right-border"><input id="cb'+i+'" type="checkbox"><label for="cb'+i+'"></label></td>');
          costsTableFirstColumns.append('<td class="col-275 no-left-border" style="border-right:0;"><a open-modal" href="templates/modals/settings/editcost.html" rel="modal:open" ><span><strong>'+ item.Name +'</strong></span></a></td>');
          costsTableFirstColumns.append('</tr>');
          costsTableFirstColumns.appendTo("#gridFirstColumns tbody");
                    
          costsTableBody = $('<tr>');
          costsTableBody.append('<td class="col-75"><span>'+ item.Status +'</span></td>');
          costsTableBody.append('<td class="col-100 right"><span><a>'+ item.Campaigns +'</a></span></td>');
          costsTableBody.append('<td class="col-100"><span>'+ item.Type +'</span></td>');
          costsTableBody.append('<td class="col-150"><span>'+ item.CalculationCost +'</span></td>');
          costsTableBody.append('<td class="col-150"><span>'+ item.CalculationBasis +'</span></td>');
          costsTableBody.append('<td class="col-150"><span>'+ item.CalculationValue +'</span></td>');
          costsTableBody.append('</tr>');
          costsTableBody.appendTo("#gridBody tbody");
                    
        })
    
      }

</script>

<script type="text/javascript">

    // ------------------------------------------------
    // Set Up the Fixed First Column Table
    
    (function() {
      var grid, fixedTable;
    
      fixedTable = function(el) {
        var $body, $header, $sidebar;
        $body = $(el).find('.fixedTable-body');
        $sidebar = $(el).find('.fixedTable-sidebar table');
        $header = $(el).find('.fixedTable-header table');
        return $($body).scroll(function() {
          $($sidebar).css('margin-top', -$($body).scrollTop());
          return $($header).css('margin-left', -$($body).scrollLeft());
        });
      };
    
      grid = new fixedTable($('#grid'));
    
    }).call(this);

    // ------------------------------------------------
    // Make the rows highlight with Fixed First Column   
    
    $(document).on({
    mouseenter: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
    },
    mouseleave: function () {
    var trIndex = $(this).index();
    $("table.grid").each(function(index) {
        $(this).find("tr:eq("+trIndex+")").removeClass("hover")
    });
    }
    }, "#grid table tr");
    
</script>