.chart {width: 850px; border:1px solid #cfcfcf; background: #fff;}
.chart th {text-align:left; border-bottom: 1px solid #cfcfcf;}
.chart tbody {border-top: 0px solid #cfcfcf;}
.chart tbody td {cursor: pointer;}
.chart .spend {text-align: right; width: 100px;}
.chart th:first-child, .chart td:first-child {width:200px;}
.chart th, .chart td {padding: 10px 20px;}
.chart tbody td:first-child {border-left:0px solid #cfcfcf; border-top:none; border-bottom: none;}
.chart tbody td:last-child {border-right:0px solid #cfcfcf; border-top:none; border-bottom: none;}
.chart .bar span { display: block; background: #A1CDEA; padding: 5px; font-weight: bold; color: #fff; }
.chart .total {border-top: 1px solid #cfcfcf;}
.chart tbody .total td { font-weight: bold; border: none; padding-top: 10px;  }