.grid.fixedTable { 
        
    width: 100%;
    
    aside {
        border-right: 0px solid #cfcfcf;
    }
    
    th span {
        font-weight: bold;
        display: block;
        box-sizing: border-box;
        
        a {
            line-height: 13px;
        }
        
    }
    
    tr {
        white-space: nowrap;
        
        &.undo {
            display: none;
        }
        
    }
    
    td {
        i {
            display: block;
            padding: 12px 5px;
        }
    }
    
    th, td {
        
        display: inline-block;
        border-collapse: collapse;
        border-spacing: 0;
        
        label {
            margin-left: 5px;
            margin-top: 8px;
        }
        
        &.no-right-border {
            border-right: 0 !important;
        }
        &.no-left-border {
            border-left: 0 !important;
            span { padding-left: 5px;}
            
        }
        
        span {
            display: block;
            padding: 11px;
            
            &.overflow {
                box-sizing: border-box;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;                
            }
            
            &.col-100 {min-width:100px;width:100px;max-width:100px}
            &.col-150 {min-width:150px;width:150px;max-width:150px}
            &.col-200 {min-width:200px;width:200px;max-width:200px}
            &.col-250 {min-width:250px;width:250px;max-width:250px}
            
        }
                
        &.col-20  {min-width: 20px;width: 20px;max-width: 20px;}
        &.col-25  {min-width: 25px;width: 25px;max-width: 25px;}
        &.col-30  {min-width: 30px;width: 30px;max-width: 30px;}
        &.col-45  {min-width: 45px;width: 45px;max-width: 45px;}
        &.col-50  {min-width: 50px;width: 50px;max-width: 50px;}
        &.col-75  {min-width: 75px;width: 75px;max-width: 75px;}
        &.col-100 {min-width:100px;width:100px;max-width:100px}
        &.col-150 {min-width:150px;width:150px;max-width:150px}
        &.col-200 {min-width:200px;width:200px;max-width:200px}
        &.col-250 {min-width:250px;width:250px;max-width:250px}
        &.col-275 {min-width:275px;width:275px;max-width:275px}
        &.col-300 {min-width:300px;width:300px;max-width:300px}
        &.col-325 {min-width:325px;width:325px;max-width:325px}
        &.col-350 {min-width:350px;width:350px;max-width:350px}
        &.col-400 {min-width:400px;width:400px;max-width:400px}
        
        &.combine {
            border-right: 1px solid #f5f6f7;
        }
    }
    
    .fixedtable-header {
        width: calc(100% - 321px);
        margin-left: 320px;
        
        th:last-child {
            border-right: 1px solid #cfcfcf;
        }
        
        
    }
    
    
    .fixedtable-body {
        width: calc(100% - 321px);
        left: -1px;
        
        td:last-child {
            border-right: 1px solid #cfcfcf;
        }
        
        tr:last-child td:last-child {
            border-right: 1px solid #cfcfcf;
        }
        
        
        
    }
    
    .fixedtable-sidebar {
        margin-left: 0;
        width: 321px;
    }
    
    .gridFirstColumnHeader {
        position: absolute; 
        width: 321px;
    
        th:nth-child(2) {
            border-right: 1px solid #cfcfcf;
        }

    }


    #gridFirstColumns {
        td:last-child {
            border-right: 1px solid #cfcfcf !important;
        }
    }
    
    
    &.budget {
        
        .gridFirstColumnHeader {
            th:last-child {
                border-right: 1px solid #cfcfcf;
            }
        }
        
        #gridFirstColumns {
            td:last-child {
                border-right: 1px solid #cfcfcf !important;
            }
        }
        
        #gridFirstColumns {
            tr:not(.locked):hover,
            tr:not(.deleted):hover,
            tr.hover:not(.locked),
            tr.hover:not(.deleted)   {
                td:last-child {
                    border-right: 1px solid $blue !important;
                }
            }
        }
        
        .fixedtable-header {
            width: calc(100% - 445px);
            margin-left: 445px;
         }
    
        .fixedtable-body {
            width: calc(100% - 446px);
            left: -1px;
        }
        
        .fixedtable-sidebar, .fixedtable-body {
            height: calc(100vh - 280px);
        }   
        .gridFirstColumnHeader, .fixedtable-sidebar {
            width: 446px;
        }
    }
    
    &.campaign {
        .fixedtable-sidebar, .fixedtable-body {
            height: calc(100vh - 321px);
        }   
    }
    
    &.costs {
        .fixedtable-sidebar, .fixedtable-body {
            height: calc(100vh - 301px);
        }   
    } 
        
    &.history {
        
        .gridFirstColumnHeader {
            th:last-child {
                border-right: 1px solid #cfcfcf;
            }
        }
        
        th {
            background: #f5f6f7;
            border-bottom: 0;
        }
        
        #gridFirstColumns {
            td:last-child {
                border-right: 1px solid #cfcfcf !important;
            }
        }
        
        #gridFirstColumns {
            tr:not(.locked):hover,
            tr.hover:not(.locked)  {
                td:last-child {
                    border-right: 1px solid $blue !important;
                }
            }
        }
        
        .fixedtable-header {
            width: calc(100% - 225px);
            margin-left: 225px;
         }
    
        .fixedtable-body {
            width: calc(100% - 226px);
            left: -1px;
        }
        
        .fixedtable-sidebar, .fixedtable-body {
            height: 459px;
        }   
        .gridFirstColumnHeader, .fixedtable-sidebar {
            width: 226px;
        }
    }
        
    &.performance {
        .currency-symbol {
            margin-left: 50px;
        }
    }
    
    &.performance-advertisers {
        .fixedtable-sidebar, .fixedtable-body {
            height: calc(100vh - 265px);
        }   
    }
    
    &.performance-campaign {
        .fixedtable-sidebar, .fixedtable-body {
            height: calc(100vh - 279px);
        }   
    }
    
    .fixedTable-sidebar table tr td {
//         width: auto;
    }
    
    
    .gridColumnHeader th,
    tr th {
        height: 40px;
        border: 1px solid #cfcfcf;
        border-right: 0;
        font-weight: normal;
        box-sizing: border-box;
        text-align: left;
        border-collapse: collapse;
        span {
        }        
                
    }
    
    #gridFirstColumns {        
        
        counter-reset: rowNumber;
    
        tr:not(.total):not(.unbucketed) {
            
            counter-increment: rowNumber;
        
            td:first-child {
                background: #f5f6f7;
                padding: 0;
                padding-top: 11px;
                text-align: center;
            }
        
            td:first-child::before {
                content: counter(rowNumber);
            }
            
            td:nth-child(2) {
                border-right: 1px solid #cfcfcf;
            }
    
        }

    }
        
    th {
        white-space: nowrap;
        box-sizing: border-box;
    }
    
    .inactive {
        background-image: linear-gradient(-45deg, #dddddd 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,#dddddd 50%,#dddddd 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0)) !important;
        background-size: 4px 4px !important;
        height: 100%;
//         background: #f5f6f7 !important;
    }
    
    tr:not(.total).hover { 
        
        td {
            background: #E6F2F8 !important;
        }
    
        .inactive input {
            background: #fff !important;
        }
        
    }
    
    tr td {
        background: #fff;
        height: 55px;
        vertical-align: top;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #ddd;
    }
    
    tr.total td, tr.unbucketed td {
        background: #f5f6f7;
        border-top: 1px solid #cfcfcf;
        font-weight: bold;
//         border-left: 1px solid transparent;
    }
    
    tr.unbucketed .col-30 {
        border-left: 0;
    }
    tr.unbucketed td:nth-child(3) span {
        margin-left: -30px;
    }
    
    tr.total:last-child td {
        border-bottom: 1px solid #cfcfcf;
    }
    
    tr.inactive {
        background: #fff;
        background-image: none !important;
    }
    
    tr.inactive.admin td {
        background: #fff;
        opacity: 0.5;
    }
    
     table {
        border-collapse: collapse;
        
        th, td, tr {
            box-sizing: border-box;
        
            &.readonly, &.link {
                padding: 5px;
                box-sizing: border-box;
                display: inline-block;
            }
            
            .col-line-number {
                color: #ccc;
                font-size: 2em;
                padding: 0px;
                width: 100px;
                
                span {
                    display: block;
                    padding: 10px;
                }
                
            }
            
            .col-checkbox {
                max-width: 22px;
                min-width: 22px;
                width: 22px;
                background-image: linear-gradient(-45deg, #dddddd 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,#dddddd 50%,#dddddd 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
                background-size: 4px 4px;
                height: 100%;
            }
            
            .col-placement-name {
                color: $blue;
                width: 177px !important;
                padding: 5px;
            }
            
        }
        
    }
        
    .currency-symbol {
        position: absolute;
        margin-top: 7px;
        margin-left: 5px;
    }
    
    input[type=text] { 
        padding: 5px;
        width: calc(100% - 12px);
        height: 15px;
        margin: 0;
        border-width: 1px;
        border-color: transparent;
        border-radius: 0px;
        font-size: 13px;
        color: #404040;
        box-sizing: content-box;
        text-overflow: ellipsis;
        
        &.half {
            width: calc(50% - 12px);
            float: left;
        }
        
        &:focus {
            border-width: 1px;
        }
        
        &.secondary {
            color: #9b9b9b;
            font-size: 11px;
            padding-top: 3px;
            padding-bottom: 8px;
            margin-top: -1px;
        }
        
        &.custom {
            background: #fff url(../../css/images/triangle.svg) no-repeat right top;  
            background-position-y: -5px;
        }
        
    }
    
    .vendor {
        font-size: 11px;
        color: #9b9b9b;
        display: block;
        padding: 3px 5px 0px;
    }
    
    .kpi-actions {
        color: #999;
        font-size: 11px;
        padding: 5px;
        padding-top: 5px;
        display: none;
        position: absolute;
        white-space: nowrap;
        
        a {
            font-weight: bold;
            margin-right: 5px;
        }
    
    }
    
    tr.hover {
        
        input[type=text] {
            border-color: #6BADD1;
        }
        
        .col-kpi-cost {border-right: 1px solid #E6F2F8 !important;}

//         .kpi-actions {display: block;}

        td[class*="col-kpi"]:hover {
            .kpi-actions {display: block;}
        }
        
    }
    
    &:focus {
        border-width: 1px;
    }
    
}