.menu {
    border: 1px solid $medium-gray;
    box-shadow: 0 4px 5px rgba(0,0,0,0.15);
    display: none;
    position: absolute;
    background: #fff;
    margin-top: -9px;
    padding: 0px 0px;
    width: 150px;
    z-index: 99;
    
    &.view-menu {
        margin-top: 3px;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .header {
        
        display: block;
        float: left;
        padding: 8px 10px;
        border-bottom: 1px solid #cfcfcf;
        width: 100%;
        
        input[type=text].filter-search-master {
            width: 100%;
        }
    }
    
    .footer {
        box-sizing: border-box;
        border-top: 1px solid #cfcfcf;
        padding: 8px 10px;
        display: block;
        float: left;
        width: 100%;
        
        .blue-button {
            padding: 3px 10px;
        }
    }
    
    &.columnMenu {
        margin-top: 8px;
        position: fixed;
    }

    input[type=text].filter-search-master{
        background-color: $nxm-page-background;
        box-shadow: none;
        float:left;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        background: url('../images/search.svg') no-repeat 8px 50%;
        position: relative;
        border: 1px solid $nxm-border-gray;
        line-height: $nxm-menu-filters-height - 12px; // minus paddings and border
        z-index: 1;
        width: calc(100% - 42px);           // minus paddings + 4px for different zooms
        height: 100%;
        
        &:not(.no-outline):focus{
            border-width: 1px !important ;
        }
        
        &:focus {
            background-color: #fff !important;
        }
        
        &:valid {
            border:1px solid #F77B26 !important;
            background-color: #fff !important;
            z-index: 0;
            padding-right: 30px;        // instead of 10
            width: calc(100% - 67px);   // minus paddings + 4px for different zooms


            ~ .clear-search-filter{
                display: inline-block; 
            }
        }
        
    }
    
    // CLEAR SEARCH FILTER
    
    .clear-search-filter {
        @include nxm-button-orange-backgrond();
        display: none;
        margin-left: -29px; 
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        font-size: 16px;
        padding-left: 8px;
        position: relative;
        border-top: 1px solid transparent;
        height: 29px;
        width: 28px;
        border-radius: 0 2px 2px 0;
        z-index: 1;
    }



    ul {
        box-sizing: border-box;
        float: left;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        
        li {
            box-sizing: border-box;
            cursor: pointer;
            line-height: 16px;
            display: block;
            float: left;
            margin: 0 !important;
            padding: 5px 10px !important;
            position: relative;
            width: 100%;
            
            input[type='checkbox'] + label {
                margin: 0;
            }
            
            
            &.divider {
                border-bottom: 1px solid #cfcfcf;
                padding-bottom: 8px;
            }
        
            &.divider + li {
                padding-top: 8px;
            }
        
    
            
            &:first-child {
                padding-top: 10px !important;
            }
            &:last-child {
                padding-bottom: 10px !important;
            }
    
        }
        
        &.plain {
            li {
                padding: 8px 10px;
                
                &:hover {
                    background: #eee;
                }
                
            }
        }
    }
    
}