.modal {
    background: #fff;
    max-width: none;
    min-width: 400px;
    padding: 0;
    width: auto;
    
    h1 {
        margin: 0;
        font-size: 28px;
    }
    
    .larger {
        font-size: 18px;
        line-height: 28px;
    }
    
    a.close-modal {
        top: 17px;
        right: 10px;
    }
    
    .bionic-modal-header {
        border-bottom: 1px solid #cfcfcf;
        padding: 10px 25px;  
    }
    
    .bionic-modal-body {
        padding: 10px 25px 20px;  
        min-height: 200px;
        overflow-y: auto;
    }
    
    .bionic-modal-footer {
        border-top: 1px solid #cfcfcf;
        padding: 15px 25px;  
        
        .blue-button {
            margin-right: 5px;
        }
        
    }
    
}

.blocker {
    background-color: rgba(0,0,0,0.25); 
}

