    .bionic-tab-menu {
        
        display: block;
        float: left;
        margin-top: 5px;
        margin-left: 0 !important;
        
        li {
            background: #e9ebed;
            border-left: none;
            border-bottom: none;
            box-sizing: border-box;
            border-collapse: collapse;
            cursor: pointer;
            float: left;
            font-size: 13px;
            line-height: 18px;
            list-style: none;
            
        
            a {
                border: 1px solid $medium-gray;
                border-bottom: none;
                color: #333;
                display: block;
                font-weight: normal;
                padding: 3px 15px;
                
                &.current {
                background: $light-gray;
                border-bottom: 1px solid #f5f6f7;
                border-left: 1px solid $medium-gray;
                border-top: 1px solid $medium-gray;
                font-weight: bold;
                margin-bottom: -2px;
                margin-top: -2px;
                padding-top: 5px;

            }
            
            &:first-child {
                border-left: 1px solid $medium-gray;
            }
        
            }
        
        }
    }

.bionic-subnav-menu {
    
    display: block;
    float: left;
    margin: 0 25px;
        
    li {
        font-size: 13px;
        list-style: none;
        margin: 10px 0 10px 0;
        padding: 0;
        width: 170px;
        
        a {
            border: 1px solid transparent;
            border-radius: 3px;
            color: #333;
            cursor: pointer;
            display: block;
            font-weight: normal;
            padding: 10px 10px 10px 15px;
            
            &.current {
                border: 1px solid #cfcfcf;
                font-weight: bold;
            }
            
        }
    }
}