.progress-bar {
    
    background: #69AED4;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    height: 15px;
    line-height: 13px;
    text-align: right;
    box-sizing: border-box;
    padding: 0 !important;
    margin: 10px;
    position: relative;
    float: left;
    max-width: 130px;
    
    span {
        right: 5px;
        padding: 0 !important;
        position: relative;
        width: auto !important;
    }
    
    &.over {
        background: #EE3424;
        width: 100%;
        
        span {
        right: 5px;
        padding: 0 !important;
        position: relative;
        width: auto !important;
        }
    }
    
    &.under {
        color: #333;
        
        span {
            display: inline;
            float: right;
            right: -45px;
            padding: 0 !important;
            width: auto !important;
        }
    }
    
}
