    .user-rating {
        display: block;
        float: left;
        margin-bottom: 40px;
        margin-top: 10px;
        width: 100%;
    }
    
    .bionic-radio label.red > span:first-child {
        border-color: #FAC0BD;
    }
    .bionic-radio label.yellow > span:first-child {
        border-color: #FBE0B4;
    }
    .bionic-radio label.green > span:first-child {
        border-color: #C0E4BC;
    }
    
    .user-rating .bionic-radio input[type="radio"]:checked + label > span:first-child {
        background: #FAC0BD;
        background-image: none;
        font-weight: bold;
        color: #333;
    }

    .user-rating .bionic-radio input[type="radio"]:checked + label.yellow > span:first-child {
        background: #FBE0B4;
    }
    .user-rating .bionic-radio input[type="radio"]:checked + label.green > span:first-child {
        background: #C0E4BC;
    }

    .bionic-radio {
        display: block;
        float: left;
        width: 15px;
    }
    
    .bionic-radio label {
        text-align: center;
        
    }
        
    .bionic-radio label > span:first-child {
        background: #fff;
        border: 1px solid #eee;
        border-radius: 50%;
        box-sizing: border-box;
        height: 40px !important;
        padding-top: 11px !important;
        width: 40px !important;
    }
    
    
    .user-rating-legend {
        display: block;
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    
        .user-rating-legend span {
            display: block;
            float: left;
        }
        
        .user-rating-legend span.right {
            float: right;
            margin-right: 5px;
        }
        
        .user-rating-legend i {
            font-size: 16px;
        }
        
        .user-rating-legend .fa-frown-o {
            color: red;
        }
        .user-rating-legend .fa-smile-o {
            color: green;
        }
