#bionic-stripe {    
    background: $nav-color url("../../images/bionic.svg") no-repeat;
    background-position: 25px 13px;
    background-size: 77px 24px;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
    
    
    #bionic-stripe-settings {
        float: right;
        
        li {
            float: left;
            padding: 17px 0px;
        
            span {
                color: $light-gray;
                padding: 0 15px;
                border-right: 1px solid #555;
                
                a {
                    color: $light-gray;
                }
                
                i {
                    margin-right: 5px;
                }
            }
        
            &#app-switcher {
                
                    span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    z-index: 50;
                    background: #444a50;
                    border: 1px solid #555;
                    border-radius: 3px;
                    padding: 5px 10px;
                    margin-top: -10px;
                    margin-left: -1px;
                    
                    i {
                        margin-left: 5px;
                        margin-right: 0;
                    }
                }
                
                ul {
                    display: none;
                    position: fixed;
                    float: left;
                    width: 100px;
                    right: 15px;
                    margin-top: 13px;
                    
                    li {
                        cursor: pointer;
                        box-sizing: border-box;
                        position: relative;
                        background: #444a50;
                        display: block;
                        clear: both;
                        width: 100px;
                        padding: 0;
                        color: #fff;
                        
                        a {
                            color: #fff;
                            display: block;
                            padding: 10px;
                        }
                        
                        &:hover {
                            background: #333;
                        }
                        
                    }
                }
            }
        
            &:last-child span {
                margin-right: 25px;
                border: none;
            }
        
        }
        
        .user-initials {
            background: #EE627A;
            box-sizing: border-box;
            border: 0;
            color: #fff;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 32px;
            vertical-align: middle;
            text-align: center;
            font-size: 15px;
            font-weight: normal;
            border-radius: 15px;
            margin-right: 0;
            padding: 0;
            float: left;
            margin-top: -8px;
            margin-right: -5px;
            overflow: hidden;
            text-align: center;
        }
        
    }
}
