.currency-symbol {
    color: #9b9b9b;
    float: left;
}
.editable .currency-symbol {
    position: absolute;
    margin: 10px;
}

.editable {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.readonly {
    background: #f5f6f7;
}

table {
    td {
        background: #fff;
    }
    
    .hashed {
    background-image: linear-gradient(-45deg, #dddddd 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #dddddd 50%, #dddddd 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) !important;
    background-size: 4px 4px !important;
    }
    
    tr:hover td{
        background: #E6F2F8 !important;
    }
}

table.overview-kpis {
    
    background: transparent;
    margin-top: 15px;
    border-bottom: 1px solid #f5f6f7;
    
    td {
        font-size: 20px;
        padding: 7px 10px 7px 0;
        background: transparent;
        
        &:first-child {
//             font-weight: bold;
        }
        
    }
}

table.module {
    border-collapse: collapse;
    border-right: 0;
    min-width: 1200px;
    padding: 0;
    width: auto;
    
    thead {
        background: #f5f6f7;
        width: 100%;
    }
    
    tr {
        border-bottom: 1px solid #eee;
        
        &:hover {
            background: #E6F2F8;
        }
        
    }
    
    th,td {
        border-right: 1px solid #cfcfcf;
        padding: 8px 10px;
        white-space: nowrap;
        width: auto;
        
        
        img {
        }
        
        .sm-campaign-image {
            display: inline-block;
            float: left;
            margin-right: 10px;
            text-align: center;
            width: 42px;
            
            img {
                max-height: 26px;
            }
            
        }
        
        &.line-number {
            background: #f5f6f7;
        }
        
        &.campaign,&.advertiser {
            width: 100%;
            overflow: hidden;
        }
        
        &.campaign,&.advertiser,&.planned {
            min-width: 220px;
            padding: 0;
            
            a {
                padding: 8px 10px;
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        &.campaign {
            
            a {
                font-weight: bold;
            }
        } 
        
        &.advertiser {
            min-width: 120px;
        }

        &.budget, &.planned {
            text-align: right;
            min-width: 160px;
        
            .currency {
                color: #9b9b9b;
                float: left;
                font-size: 11px;
            }
        
        }
        
        &.percentplanned {
            min-width: 120px;
            
            .budget-progress-bar {
                
                background: #69AED4;
                color: #fff;
                font-size: 11px;
                font-weight: bold;
                display: inline-block;
                height: 15px;
                line-height: 13px;
                text-align: right;
                box-sizing: border-box;
                
                span {
                    right: 5px;
                    position: relative;
                }
                
                &.over {
                    background: #EE3424;
                    width: 100%;
                }
                
                &.under {
                    color: #333;
                    
                    span {
                        right: auto;
                    }
                }
                
            }
            
        }
        
    }
    
    th {
        background: #f5f6f7;
        border-bottom: 1px solid #cfcfcf;
        padding: 8px 10px !important;
        text-align: left;
        
    }
    
    th:last-child,
    td:last-child {
//         width: 100%;
    }
    
}

table#mostrecentcampaigns {
    
    table-layout: fixed;
    width: 100%;
    
    th,td {
        line-height: 24px;
    }
}

table#schedule {
    
    th:nth-child(n+3) {
        text-align: center;
    }
    
    th:nth-child(n+3),
    td:nth-child(n+3) {
        min-width: 80px;
    }
    
    tr:last-child td {
        background: #f5f6f7;
        border-color: transparent;
        border-top: 1px solid #cfcfcf;
        font-weight: bold;
        
        a {
            color: #333;
            cursor: default;
        }
        
        &:first-child {
            color: #f5f6f7;
        }
        
    }
    
    th:last-child,
    td:last-child {
        width: auto;
    }
    
}


table.goals {
    
    clear: both;
    width: 950px;
    
    th {
        text-align: left;
    }
    
    td,th {
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #cfcfcf;
        white-space: nowrap;
        
        input[type='checkbox'], label {
            max-width: 21px;
            margin: 0 15px 0 0;
        }
        
        &:first-child {
            padding-left: 15px;
        }        
        
        &.narrow {
            width: 80px;
            text-align: right
        }    

        
    }
    
    &.budget {
        
        tr:not(.spacer){
        td:first-child {
//             font-weight: bold;
/*
            border-color: transparent;
            border-right: 1px solid #ddd;
            padding-left: 0;
*/
        }
        }
        
        td:nth-child(2) {
            font-weight: normal;
            text-align: right;
        }
        
        td:nth-child(3) {
            background: transparent !important;
            border-color: #f5f6f7;
            text-align: right;
        }
    }
    
    td:first-child {
        min-width: 130px;
    }
    
    
    td:nth-child(2) {
        font-weight: bold;
        color: #333;
    }
    
    td:nth-child(4) {
        min-width: 150px;
    }
        
    tr:hover {
        td {
            input {
                border: 1px solid $blue;
            }
        }
    }
    
    tr.spacer td, tr.spacer:hover td {
        border: 0;
        background: transparent !important;
        padding: 5px;
    }
    
    .uncategorized, 
    td:nth-child(3).uncategorized {
        background: #FCF0BF !important;
//         border-color:#FCF0BF !important;
    }
    

    
    td {
        
        &.custom input {
            background: #fff url(../../css/images/triangle.svg) no-repeat right top;  
        }
        
        &.editable {
            color: #333;
            padding: 0;
            
            input[type="text"] {
                padding: 10px;
                width: 100%;

                &:hover {
                    border: 1px solid $blue;
                }
            }
        }
        
         input[type="text"] {
            border: 1px solid #fff;
            border-radius: 0;
            
            &:focus {
                border-width: 1px !important;
            }
            
        }        
    }
    
}

table.addToCampaign {
    
    counter-reset: rowNumber -1;
    
    tr {
        counter-increment: rowNumber;
    
        td:first-child::before {
            content:  counter(rowNumber);
        }
    
    }
    
    clear: both;
    max-width: 950px;
    
    th {
        text-align: left;
    }
    
    
    td,th {
        box-sizing: border-box;
        padding: 10px;
        border: 0;
        white-space: nowrap;
        
        input[type='checkbox'], label {
            max-width: 21px;
            margin: 0 15px 0 0;
        }
        
        &:first-child {
            border-right: 0;
            min-width: 34px !important;
        }    
        
        &.description {
            background: #f5f6f7;
            color: #9b9b9b;
        }            
    }
    

    
    &.budget {
        
        td:nth-child(2) {
            font-weight: normal;
            text-align: right;
        }
        
        td:nth-child(3) {
            background: transparent !important;
            border: 0;
        }
    }

    
/*
    td:first-child {
        padding-left: 20px;
    }
    
    th:first-child {
        padding-left: 20px;
    }    
*/
    td:first-child {
        color: #9b9b9b;
    }
    
    td:nth-child(2) {
        color: #333;
        border-left:0;
        padding-left: 5px;
        width: 150px;
    }
    
    td:nth-child(4) {
        min-width: 250px;
        text-overflow: ellipsis;
    }
 
     td:nth-child(5) {
        min-width: 120px;
        text-overflow: ellipsis;
    }   
    
    td:last-child {
        color: #fff;
        cursor: pointer;
    }
        
    &.simple {
        th:first-child,
        td:first-child {
            min-width: 180px;
            padding-left: 15px;
        }
        
        td:last-child {
            min-width: 80px;
        }
    }
    

        
    tr:hover:not(.divider) {
        
        td:first-child {
            cursor: pointer;
            text-indent: -9999px;
            background: url(../../planner/images/move.png) center no-repeat !important;
            background-size: 16px 13px !important;
            background-color: #E6F2F8 !important;
        }
        
        td {
            input {
                border: 1px solid $blue;
            }
        }
        
        td:last-child {
            color: $blue;            
            
        }
    
    }
    
    tr.divider {
        
        td:first-child {
            border-right: 1px solid #cfcfcf;
            padding: 10px 0 10px 15px;
            background: transparent;
            color: #333;
            font-size: 11px;
            font-weight: bold;
            border: 1px solid #cfcfcf !important;
        }
        
        &:hover {
            background: transparent;
            
            td {
                background: transparent !important;
            }
            
        }
        
        
    }
        
    td {
        
        border-bottom: 2px solid #f5f6f7;
        
                    &.narrow {
                    width: 80px;
                    text-align: right
                }    

        
        &.width50  { min-width: 50px;}
        &.width100 { min-width: 100px;}
        &.width150 { min-width: 150px;}
        &.width250 { min-width: 250px;}
        &.width300 { min-width: 300px;}
        
        
        &.editable {
            color: #333;
            padding: 0;
            
            
            input[type="text"] {
                padding: 10px;
                width: 100%;
                
            
                
                &:hover {
                    border: 1px solid $blue;
                }
            }
            input[type="text"].dropdown::after {
                content: "\f0d7";
                font-family: "FontAwesome";
                font-style: normal;
                position: absolute;
            }
        }
        
         input[type="text"] {
            border: 1px solid #fff;
            border-radius: 0;
            

            
            &:focus {
                border-width: 1px !important;
            }
            
        }        
    }
    
}

table.gridlines {
    th,td {
        border: 1px solid #cfcfcf;
        padding: 10px;
    }
    
        tr:not(:last-child) td {
            border-bottom: 1px solid #eee;
            
        }
    
    .section td {
        font-size: 11px;
        font-weight: bold;
        border-right: 1px solid #cfcfcf;
        border-bottom: 1px solid #cfcfcf;
    }
    
    .section:hover td:first-child {
        cursor: default;
        text-indent: -9999px;
        background: #fff;
    }    
    
    &.addToCampaign th:first-child {
        padding-left: 15px;
    }
    
    &.addToCampaign th:last-child,
    &.addToCampaign td:last-child
      {
        color: transparent;
        border-color: transparent;
        background: transparent;
    }
    &.addToCampaign tr:hover td:last-child {
        background: transparent !important;
    }

}

.bionic-grid {
    width: 100%;
    
    counter-reset: rowNumber -1;
    
    tr {
        counter-increment: rowNumber;
    
        td:first-child::before {
            content: counter(rowNumber);
        }
    
    }
    
    th {
        text-align: left;
    }
    
    .col-number {
        width: 10px;
    }
    
    th,td {
        border: 1px solid #cfcfcf;
        padding: 10px;
        box-sizing: border-box;
    }
    
        tr:not(:last-child) td {
            border-bottom: 1px solid #eee;
            
        }

    .col-100 {width:100px}
    .col-150 {width:150px}
    .col-200 {width:200px}
    .col-250 {width:250px}
    .col-300 {width:300px}
    .col-400 {width:350px}

}

    .bionic-grid.costs {
        .col-cost {width: 300px;}
        .col-type {width: 100px;}
    }

