$font-stack: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 13px;
}


p.regulartext {
    font-size: 13px;
}

p.monospace {
    font-size: 12px;
}