.colors {
    clear: both;
    display: block;
}

    .colors li{
        float: left;
        list-style: none;
        box-sizing: border-box;
        width: 150px;
        height: 200px;
        background: #fff;
        margin: 0 10px 20px 0;
        border:1px solid #fff;
        
        span {
            clear: both;
            display: block;
        }
    }
    
    .colors div {
        display: block;
        float: left;
        width: 150px;
        height: 100px;
        margin-bottom: 10px;
    }
    
        .colors.task div {
            height: 50px;
        }    
        
        .colors.task li {
            height: 130;
            margin: 0 10px 20px 0;
        }
    
        .colors.palette div {
            height: 50px;
        }

        .colors.palette li {
            margin: 0 10px 20px 0;
            height: 80px;
        }
     
    .colors li {
        color: #333;
    }
    
    .colors li.light {
        color: #333;
    }
    
    .colors .description {
        position: relative;
        float: left;
        margin-top: 10px;
        clear: both;
        width: 100%;
    }
    
    
    .colors.primary {
        width: 800px;
    }
    
    .colors.palette {
        width: 600px;
    }
