#icons {
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 700px;
}

#icons li {
    padding: 10px;
    border: 1px solid #eee;
    border-collapse: collapse;
    float: left;
    text-align: center;
    height: 80px;
    width: 80px;
}