.bionic-menu {
    
    min-width: 200px;
    padding: 10px;
    box-sizing: border-box;
    
    .end-date {
        width: 400px;
        
        li {
            line-height: 30px;
        }
        
    }
    
}
