<div class="showcolumns" style="width: 820px;">
    <div class="bionic-modal-header">
        <strong>Edit Multiple Lines</strong>
        <h1>3 Lines Selected</h1>
        <div class="bionic-modal-breadcrumbs">Select Fields to Edit > Edit and Save Changes > Results</div>
    </div>
</div>

<div class="bionic-modal-body columns custom-form-controls" style="height: 500px; max-height: 500px;">

    <div style="width: 25%;">
        <ul>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics"><strong>Basics</strong></label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Bionic ID</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Program / Vendor</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Product / Targeting</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Channel / Ad Unit / Ad Specs</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Flight Dates / Day Parts</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Rate</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Quantity</label></li>
        </ul>
        
        <ul>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics"><strong>Cost</strong></label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Gross Media Cost</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Net Media Cost</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Agency Comp.</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Total Media Cost</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Ad Serving</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Total</label></li>
        </ul>
    </div>
    
    <div style="width: 25%;">
        <ul>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics"><strong>In Plan (Checkbox)</strong></label></li>
        </ul>
        <ul>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics"><strong>Ratings</strong></label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Market & Demographics</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Population</label></li>
        </ul>
    </div>
    <div style="width: 25%;">
        <ul>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics"><strong>Basics</strong></label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Bionic ID</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Program / Vendor</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Product / Targeting</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Channel / Ad Unit / Ad Specs</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Flight Dates / Day Parts</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Rate</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Quantity</label></li>
        </ul>
    </div>
    <div style="width: 25%;">
        <ul>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics"><strong>Basics</strong></label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Bionic ID</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Program / Vendor</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Product / Targeting</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Channel / Ad Unit / Ad Specs</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Flight Dates / Day Parts</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Rate</label></li>
            <li><input id="cb-basics" type="checkbox" checked='checked'><label for="cb-basics">Quantity</label></li>
        </ul>
    </div>

</div>

<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close">Next</a>
    <a class="gray-button" rel="modal:close">Cancel</a>
</div>
</div>