<div class="move">

<div class="bionic-modal-top">
    <h1>Moving - 3 Lines</h1>
</div>
    
<div class="bionic-modal-body">

    <strong>Media Plan</strong>
    

        <span class="move-to-another-media-plan input-holder">
            <input class="ui-autocomplete-input-with-arrow ui-autocomplete-input hasAutoComplete" placeholder="Select Campaign..." value="Electric Vehicle Launch"
            type="text" autocomplete="off">
        </span>   
            
</div>

<div class="bionic-modal-footer">
    <span>Moving: <strong>1</strong> of <strong>3</strong> Lines Completed</span>
    <a class="open-modal" href="templates/modals/move/move3.html" rel="modal:open"><img src="../planner/images/progress.png" /></a>
</div>

</div>