<div class="move">

<div class="bionic-modal-top">
    <h1>Moving - 3 Lines</h1>
</div>
    
<div class="bionic-modal-body">

<p>Moving Lines after Line 7 of<br>
Electric Vehicle Launch Media Plan</p>

<a class="open-modal" href="templates/modals/move/move3.html" rel="modal:open"><img src="../planner/images/progress.png" /></a>

<p><strong>1</strong> of <strong>3</strong> Lines Completed</p>

</div>

<div class="bionic-modal-footer">
    <a class="gray-button" rel="modal:close">Cancel</a>
</div>

</div>