<div class="move">

<div class="bionic-modal-header">
    <h1>Moving - 9 Lines</h1>
</div>
    
<div class="bionic-modal-body">

    <div class="notification info">
        <strong>Note:</strong> You've selected lines that are part of a package. If the package header or any line in a package is selected, the entire package will move together.
    </div>
    
    <strong>Media Plan</strong>
    

        <span class="move-to-another-media-plan input-holder">
            <input class="ui-autocomplete-input-with-arrow ui-autocomplete-input hasAutoComplete" placeholder="Select Campaign..." value="Electric Vehicle Launch"
            type="text" autocomplete="off">
        </span>   
            
</div>

<div class="bionic-modal-footer">
    <span>Moving: <strong>5</strong> of <strong>9</strong> Lines Completed</span>
    <a class="open-modal" href="templates/modals/move/move3.html" rel="modal:open"><img src="../planner/images/progress.png" /></a>
</div>

</div>