    <div class="nxm-menu-filters custom-form-controls" style="margin-bottom: 5px;">
                
        <div class="filter-container custom-form-controls">
            <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-filter"></i> All Statuses</div>
            <div class="menu filterTypeMenu">
                <ul>
                    <li class="divider first-option"><input id="alladvertisers" type="checkbox" checked><label for="alladvertisers">All Advertisers</label></li>
                    <li class="first-option"><input id="following" type="checkbox" checked><label for="following">Following</label></li>
                    <li><input id="notfollowing" type="checkbox" checked><label for="notfollowing">Not Following</label></li>
                </ul>
                <div class="footer"><a class="blue-button">Apply</a></div>
            </div>
        </div>
        <div class="filter-container custom-form-controls">
            <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-filter"></i> All Authorizers</div>
            <div class="menu filterTypeMenu">
                <ul>
                    <li class="divider first-option"><input id="alladvertisers" type="checkbox" checked><label for="alladvertisers">All Advertisers</label></li>
                    <li class="first-option"><input id="following" type="checkbox" checked><label for="following">Following</label></li>
                    <li><input id="notfollowing" type="checkbox" checked><label for="notfollowing">Not Following</label></li>
                </ul>
                <div class="footer"><a class="blue-button">Apply</a></div>
            </div>
        </div>

    </div>
    
    <div class="nxm-menu-filters custom-form-controls" style="clear:both; width: 100%; margin-bottom: 5px;margin-top:0;">
        <div class="action-menu-button"><i class="fa fa-question-circle-o"></i> Request Authorization</div>
        <div class="action-menu-button"><i class="fa fa-check-circle"></i> Authorize</div>
        <div class="action-menu-button"><i class="fa fa-ban"></i> Reject</div>
        <div class="action-menu-button"><i class="fa fa-ban"></i> Abandon</div>
    </div>
    
<script>
    $(".bionic-filter").click(function (event) {        
        event.stopPropagation();
        $(".menu").hide();
        $(this).next(".menu").show();
    });
    
    $(".menu").click(function (event) {        
        event.stopPropagation();
    });

</script>