<div class="bionic-modal-header">
    <h1>Upload Worksheet</h1>
</div>
    
<div class="bionic-modal-body">
    <ul>
        <li>Step 1: Download the media plan data sheet</li>
        <li>Step 2: Make your changes to the data sheet</li>
        <li>Step 3: Upload the data sheet below</li>
        <input type="file">
    </ul>
</div>

<div class="bionic-modal-footer">
    <a class="blue-button open-modal" rel="modal:open" href="templates/modals/worksheet/2.html">Upload</a>
    <a class="gray-button" rel="modal:close">Cancel</a>
</div>