$firstcolumn: 275px;

.fixedTable .table {
  background-color: white;
  width: auto;
}

.fixedTable .table tr td,
.fixedTable .table tr th {
  min-width: 100px;
  height: 40px;
  width: 100px;
  padding: 0px;
  text-align: left;
}

.fixedTable .table tr td {
    border: 0px solid #eee;
    border-top: 1px solid #eee;
    border-left:1px solid #ddd;
}

.fixedTable .table tr th {
  background: $light-gray;
  font-weight: bold;
}

.fixedTable-header {
  width: calc(100% - 250px);
  margin-left: 300px;
  overflow: hidden;
}

.fixedTable-sidebar {
  width: $firstcolumn;
  height: calc(100vh - 227px);
  float: left;
  overflow: hidden;
  margin-left: 25px;
  
/*
  table.table tr td {
      width: $firstcolumn;
  }
*/
  
}

.fixedTable-body {
  overflow-x: scroll;
  overflow-y: auto;
  width: calc(100% - 310px);
  height: calc(100vh - 270px);
  float: left;
}

