.mediaplan.fixedTable { 
        
    width: 100%;
    
    .fixedtable-header {
        width: calc(100% - 300px);
        margin-left: 300px;
    }
    
    .fixedtable-body {
        width: calc(100% - 300px);
    }
    
    .fixedtable-sidebar {
        margin-left: 0;
        width: 300px;
    }
    
    .fixedtable-sidebar, .fixedtable-body {
        height: calc(100% - 288px);
    }    
    
    .fixedTable-sidebar table.table tr td {
//         width: auto;
    }
    
    .mediaPlanFirstColumnHeader {
        position: absolute; width: 300px;
        
        th.col-checkbox {
            width: 22px;
                background-image: linear-gradient(-45deg, #dddddd 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,#dddddd 50%,#dddddd 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
                background-size: 4px 4px;
                height: 100%;
        }
        
        th.col-placement-name {
            width: 100px;
            height: 54px;
        }
        
        
    }
    
    .divider-right {
        border-right: 1px solid #9b9b9b !important;
    }
    
    .divider {
        border-left: 1px solid #9b9b9b !important;   
    }
    
    .group {
        .divider-costs {
/*
            background: #E1ECE8;
            border-left: 1px solid #3F8E2D !important;
            border-top: 1px solid #3F8E2D !important;
            border-bottom: 1px solid #3F8E2D !important;
            color: #3F8E2D;
*/
        }
        
        .divider-kpis {
/*
            background: #FCE5CB;
            color: #F77623;
            border-left: 1px solid #F77623 !important;
            border-top: 1px solid #F77623 !important;
            border-bottom: 1px solid #F77623 !important;
*/
        }
/*
        border-left: 1px solid green !important;
        border-top: 1px solid green !important;
*/
    }
    
    
    .divider-kpis {
/*
        border-left: 1px solid orange !important;
        border-top: 1px solid orange !important;
*/
    }    

    tr.group {
        th {
            height: 24px !important;
            font-weight: bold;
            padding-left: 5px !important;
            border-bottom: 1px solid #cfcfcf;
            
            span {
                display: block;
                font-weight: bold;
//                 color: #fff;
                float: left;
                margin-left: -4px;
            }
        }
    }
    
    tr.group-members {
        th {
            border-bottom: 1px solid #cfcfcf;
        }
    }
    
    .mediaPlanFirstColumnHeader th,
    .table tr th {
        height: 30px;
        border-left: 1px solid #cfcfcf;
        border-top: 1px solid #9b9b9b;
        font-weight: normal;
        box-sizing: border-box;
        padding: 0px;
        text-align: left;
             
        span {
            padding-left: 5px;
            padding-right: 5px;
        }        
                
    }
            
    th {
        white-space: nowrap;
        min-width: none;
        padding: 5px;
        box-sizing: border-box;
    }
    
    .inactive {
        background-image: linear-gradient(-45deg, #dddddd 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,#dddddd 50%,#dddddd 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0)) !important;
        background-size: 4px 4px !important;
        height: 100%;
//         background: #f5f6f7 !important;
    }
    
    tr.hover { 
        
        td {
            background: #E6F2F8 !important;
        }
    
        .inactive input {
            background: #fff !important;
        }
        
    }
    
    .table tr td {
        background: #fff;
        height: 55px;
        vertical-align: top;
    }
    
     table {
        border-collapse: collapse;
        
        th, td, tr {
            box-sizing: border-box;
        
            &.readonly, &.link {
                padding: 5px;
                box-sizing: border-box;
                display: inline-block;
            }

            .col-line-number:not(th) {
                font-size: 2em;
            }
            
            .col-line-number {
                color: #ccc;
                padding: 0px;
                min-width: 100px;
                width: 100px;
                
                .header {
                    color: #333;
                }
                
                span {
                    display: block;
                    box-sizing: border-box;
                    padding: 10px;
                }
                
            }
            
            .col-checkbox {
                max-width: 22px;
                min-width: 22px;
                width: 22px;
                background-image: linear-gradient(-45deg, #dddddd 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,#dddddd 50%,#dddddd 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
                background-size: 4px 4px;
                height: 100%;
            }
            
            .col-placement-name {
                color: $blue;
                width: 177px !important;
                padding: 5px;
            }
            
        }
        
    }
    
    th span {
        display: block;
        box-sizing: border-box;
    }
    
    th, td {
            
            &.col-id            {min-width: 80px; max-width: 80px; width: 80px;}
            &.col-program       {min-width: 180px; max-width: 180px; width:180px;}
            &.col-product       {min-width: 200px; max-width: 200px; width:200px;}
            &.col-channel       {min-width: 232px; max-width: 232px; width: 232px;}
            &.col-flight-dates  {min-width: 210px; max-width: 210px; width: 210px;}
            &.col-rate          {
                min-width: 300px; 
                max-width: 300px; 
                width: 300px;
            
                input {
                    width: 67px;

                    &.number {
                        text-align: right;
                    }

                    &.currency {
                        width: 50px;
                    }
                    
                }
            
            }
            &.col-quantity       {
                min-width: 150px; 
                max-width: 150px; 
                width: 150px;
            
            
            }
            
            &.col-gross-media   {min-width: 300px; max-width: 300px; width: 300px;}
            &.col-total-media-cost   {min-width: 300px; max-width: 300px; width: 300px;}
            &.col-agency-comp   {min-width: 300px; max-width: 300px; width: 300px;}
            &.col-ad-serving   {min-width: 300px; max-width: 300px; width: 300px;}
            &.col-total-cost   {min-width: 300px; max-width: 300px; width: 300px;}
            &.col-cost          {
                            min-width: 150px; 
                            max-width: 150px; 
                            width: 150px;
                            
                            .currency-symbol {
                                margin-top: 6px;
                                margin-left: 5px; 
                            }
                            
                            a:not(.action) {
                                float: right;
                            }
                            
            &.col-cost:not(th){
                a:not(.action) {
                    margin-right: 5px;
                    margin-top: 6px;
                }
            }
            
            }
            &.col-kpi-cost      {min-width: 100px; max-width: 100px; width: 100px;}
            &.col-kpi-number    {min-width: 150px; max-width: 150px; width: 150px; border-left: 0 !important;}
            
            &.col-tasks {min-width: 190px; max-width: 190px; width: 190px;}
            &.col-picklists {min-width: 150px; max-width: 150px; width: 150px;}

            &.col-450 {min-width: 450px; max-width: 450px; width: 450px;}
            &.col-350 {min-width: 350px; max-width: 350px; width: 350px;}
            &.col-180 {min-width: 180px; max-width: 180px; width: 180px;}
            &.col-120 {min-width: 120px; max-width: 120px; width: 120px;}
            &.col-135 {min-width: 135px; max-width: 135px; width: 135px;}
            &.col-50  {min-width: 50px;  max-width: 50px;  width: 50px;}
            
    }
    
    
    img.flightheader {
        position: absolute;
        margin-left: 20px;
        margin-top: 3px;
        
        :after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 27px;
            background: #ddd;
            left: 50%;
            z-index: 1;
            top: 27px;
        }
        
    }
    
    img.flightmember {
        position: absolute;
        margin-left: 40px;
        margin-top: 10px;        
    }
    
    .currency-symbol {
        position: absolute;
        margin-top: 7px;
        margin-left: 5px;
    }
    
    input[type=text] { 
        padding: 5px;
        width: calc(100% - 12px);
        height: 15px;
        margin: 0;
        border-width: 1px;
        border-color: transparent;
        border-radius: 0px;
        font-size: 13px;
        color: #404040;
        box-sizing: content-box;
        text-overflow: ellipsis;
        
        &.half {
            width: calc(50% - 12px);
            float: left;
        }
        
        &:focus {
            border-width: 1px;
        }
        
        &.secondary {
            color: #9b9b9b;
            font-size: 11px;
            padding-top: 3px;
            padding-bottom: 8px;
            margin-top: -1px;
        }
        
        &.custom {
            background: #fff url(../../css/images/triangle.svg) no-repeat right top;  
            background-position-y: -5px;
        }
        
    }
    
    .vendor {
        font-size: 11px;
        color: #9b9b9b;
        display: block;
        padding: 3px 5px 0px;
    }
    
    
    .readonly-amount {
        display: block;
        height: 25px;
    }
    
    .exclude-reset {
        color: #999;
        font-size: 11px;
        padding: 5px;
        padding-top: 5px;
        display: none;
        position: absolute;
        white-space: nowrap;
        
        a {
            font-weight: bold;
            margin-right: 5px;
        }
    
    }
    
    .exclude {
        span {display: none;}
    }
    
    tr.hover {
        
        input[type=text] {
            border-color: #6BADD1;
        }
        
        .col-kpi-cost {border-right: 1px solid #E6F2F8 !important;}

//         .kpi-actions {display: block;}

        td[class*="col-kpi"]:hover {
            .exclude-reset {display: block;}
        }
        
    }
    
    &:focus {
        border-width: 1px;
    }


    tr.flightHeader {
        .col-flight-dates  input[type=text],
        .col-kpi-cost   input[type=text],
        .col-kpi-number   input[type=text],
        {
            color: #9b9b9b;
//             background-image: none;
        }
        &.hover {
            .col-flight-dates input[type=text],    
        .col-kpi-cost   input[type=text],
        .col-kpi-number   input[type=text],
             {
                border-color:transparent !important;
                background-color: #E6F2F8;
                user-select: none;
            }
        }
        
    }


    tr.flightMember {
        .col-program input,
        .col-product input,
        .col-channel input
         {
            color:#9b9b9b;
        }
        
        &.hover {
            .col-program input[type=text],
            .col-product input[type=text],
            .col-channel input[type=text],
            
             {
                border-color:transparent !important;
                background-color: #E6F2F8;
                user-select: none;
            }
        }
        
    }
    
}