<div class="top">
    <div class="title">Cost Per 1,000 Impressions</div>
    <div class="input cost-per"><span class="label">Rate</span><input type="text"></div>
    <div class="input overage"><span class="label">Overage Buffer</span><input type="text"></div>
</div>
<div class="bottom">
    <div class="summary">Rate x (Impressions + Buffer) / 1,000) = Cost</div>
    <div class="summary">CHF 1.21 x (1,000,000 + 0) / 1,000 = CHF 1,210.00</div>
    <div class="summary">CHF 1,210.00 × USD 1.04 = <strong>USD 1,258.40</strong></div>
</div>