<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1 id="campaignname">...</h1>
    
    <span class="bionic-campaign-summary block fullwidth">April 01, 2016 - October 31, 2016</span>
    
    <script type="text/template" class="campaignNav">

    	<ul class="bionic-tab-menu">
    		<% _.each( bionic.campaignNavItems, function( campaignNavItem ){ %>
            <% 
                var url = window.location.href;
                var theID = url.substring(url.lastIndexOf('/') + 1);
                var directory = url.substring(url.lastIndexOf('#/campaign/'));
                var group = campaignNavItem.group;
                if (window.location.hash.substr(1,18) == campaignNavItem.page.substr(1,18)){ var currentnav = 'class="current"'; } 
            %>
    			<li>
    				<a <%= currentnav %> href="<%- campaignNavItem.page %>"><%- campaignNavItem.name %></a>
    			</li>
    
    		<% }); %>
    	</ul>   
    	 
	</script>
	
</div>

<ul class="bionic-action-menu block">
    <li><a class="open-modal" rel="modal:open" href="templates/modals/columns/columns.html"><i class="fa fa-bars fa-rotate-90"></i>Columns</a></li>
    <li><a><i class="fa fa-filter"></i>Filter</a></li>
    <li class="row-select disabled"><a><i class="fa fa-pencil"></i>Edit</a></li>
    <li class="row-select disabled"><a class="open-modal" href="templates/modals/move/move1.html" rel="modal:open"><i class="fa fa-external-link"></i>Move</a></li>
    <li class="row-select disabled"><a><img src="../planner/images/bucket.svg"> Color</a></li>
    <li class="row-select disabled"><a><i class="fa fa-clone"></i>Clone</a></li>
    <li class="row-select disabled"><a><i class="fa fa-calendar-plus-o"></i>Add Tasks</a></li>
    <li class="row-select disabled"><a><i class="fa fa-trash"></i>Delete</a></li>
</ul>

<div class="mediaplan fixedTable block" id="mediaplan">
  
  <table class="mediaPlanFirstColumnHeader">
      <thead>

      <tr class="group-members">
          <th class="col-checkbox" style=""></th>
          <th class="col-line-number"><span class="header">Line</span></th>
          <th class="col-placement-name divider-right"><span class="header"><a>Placement Name</a></span></th>
      </tr>
      </thead>
  </table>  
    
    
  <header class="fixedTable-header block">
    <table class="table table-bordered">
        <thead>
            
        <tr class="group">
            <th colspan="7" style="border-left: 1px solid #cfcfcf !important;"><span>Basics</span> <a><i class="columnMenu fa fa-bars" style="top: 2px; position: relative;"></i></a></th>
            <th colspan="9" class="divider divider-costs"><span>Costs</span></th>
            <th colspan="6" class="divider divider-kpis"><span>KPIs</span></th>
        </tr>
        
        <tr class="group-members">
          <th class="col-id"><span>Bionic ID</span></th>
          <th class="col-program">
              <span><a>Program</a> / <a>Vendor</a><a><i class="columnMenu fa fa-bars" style="top: 1px; float: right; position: relative;"></i></a></span>
              <div class="menu columnMenu">
                <ul>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
              </div>
          </th>
          <th class="col-product"><span><a>Product</a> / <a>Targeting</a></span></th>
          <th class="col-channel"><span><a>Channel</a> / <a>Ad Unit</a> / <a>Ad Specs</a></span></th>
          <th class="col-flight-dates"><span><a>Flight Dates</a> / <a>Day Parts</a></span></th>
          <th class="col-rate center"><span>Rate</span></th>
          <th class="col-quantity right "><span><a>Quantity</a></span></th>
          
          <th class="divider divider-costs col-gross-media col-cost right"><span><a>Gross Media Cost</a></span></th>
          <th class="divider-costs col-net-media col-cost right"><span><a>Net Media Cost</a></span></th>
          <th class="divider-costs col-net-media col-cost right"><span><a>Talent</a></span></th>
          <th class="divider-costs col-net-media col-cost right"><span><a>Color Charge</a></span></th>
          <th class="divider-costs col-agency-comp col-cost right"><span><a>Agency Comp</a></span></th>
          <th class="divider-costs col-total-media-cost col-cost right"><span><a>Total Media Cost</a></span></th>
          <th class="divider-costs col-ad-serving col-cost right"><span><a>DCM Ad Serving</a></span></th>
          <th class="divider-costs col-ad-serving col-cost right"><span><a>Rich Media</a></span></th>
          <th class="divider-costs col-total-cost  col-cost right"><span><a>Total Cost</a></span></th>
          
          <th class="divider col-kpi-cost right"><span><a>CPM</a></span></th>
          <th class="col-kpi-number right"><span><a>Impressions</a></span></th>
          <th class="col-kpi-cost right"><span><a>CPC</a></span></th>
          <th class="col-kpi-number right"><span><a>Clicks</a></span></th>
          <th class="col-kpi-cost right"><span><a>/View</a></span></th>
          <th class="col-kpi-number right"><span><a>Views</a></span></th>
        </tr>
        </thead>
    </table>
  </header>
  <aside class="fixedTable-sidebar block">
    <table class="table table-bordered mediaplan" id="MediaPlanFirstColumns">
        <tbody></tbody>
    </table>
  </aside>
  <div class="fixedTable-body block">
    <table class="table table-bordered mediaplan" id="MediaPlanBody">
        <tbody></tbody>
    </table>
  </div>
</div>

<script type="text/javascript" src="templates/campaign/nav-campaign.js"></script>

<script type="text/javascript">

      setCampaignInfo();
      
      var mediaPlanTab = "MediaPlan";
      
      $(document).ready( function() {
        
            $(".columnMenu").click(function () {
                $(".menu").toggle();
            });
            
            $("th.col-program").bind("contextmenu",function(e){
                
                $(".menu").toggle();
                return false;
                
            });

        Tabletop.init( { key: public_spreadsheet_url,
                         callback: showInfo,
                         wanted: [ mediaPlanTab ],
                        // query:["state=done and (name=performance or name=flowchart)"],
                         debug: true } )      
      })
        
      function showInfo(data, tabletop) {

        $.each( tabletop.sheets(mediaPlanTab).all(), function(i, item) {
          var rowNumber = item.RowNumber;
          var isFlightMember = '',
              flightHeader='', 
              flightMember ='', 
              flightHeaderImage='',
              flightMemberImage='';
          
          if(item.FlightedPlacement){
              flightHeader = 'flightHeader flight'+flightHeader;
              flightHeaderImage = '<img class="flightheader" src="../images/flight-header-open.svg" />';
          }

          if(item.FlightMember){
              isFlightMember = "flight"+item.FlightMember;
              flightMember = 'flightMember flight'+flightMember;
              flightMemberImage = '<img class="flightmember" src="../images/flight-member.svg" />';
          }

// KPI Actions
          
          var customCPM, customCPC, customCPV;
          var kpiActionsCPM = '<div class="exclude-reset"><a class="action exclude" id="actionExcludeCPM'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="exclude" data-kpi="CPM" data-target="kpiCPM'+i+'">Exclude</a> <a  class="action reset" style="display:none" id="actionResetCPM'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="reset" data-kpi="CPM" data-default="'+item.CPMdefault+'" data-numberdefault="'+item.ImpressionsDefault+'" data-target="kpiCPM'+i+'">Reset</a></div>';
              kpiActionsCPC = '<div class="exclude-reset"><a class="action exclude" id="actionExcludeCPC'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="exclude" data-kpi="CPC" data-target="kpiCPC'+i+'">Exclude</a> <a  class="action reset" style="display:none" id="actionResetCPC'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="reset" data-kpi="CPC" data-default="'+item.CPCdefault+'" data-numberdefault="'+item.ClicksDefault+'" data-target="kpiCPC'+i+'">Reset</a></div>';
              kpiActionsCPV = '<div class="exclude-reset"><a class="action exclude" id="actionExcludeCPV'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="exclude" data-kpi="CPV" data-target="kpiCPV'+i+'">Exclude</a> <a  class="action reset" style="display:none" id="actionResetCPV'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="reset" data-kpi="CPV" data-default="'+item.CPVdefault+'" data-numberdefault="'+item.ViewsDefault+'" data-target="kpiCPV'+i+'">Reset</a> </div>';
          
          if(item.CPM == item.CPMdefault){
              customCPM = "";
          } else {
              customCPM = "custom";
              kpiActionsCPM = '<div class="exclude-reset"><a class="action exclude" id="actionExcludeCPM'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'"  data-item="'+i+'" data-action="exclude" data-kpi="CPM" data-target="kpiCPM'+i+'">Exclude</a> <a  class="action reset" id="actionResetCPM'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="reset" data-kpi="CPM" data-default="'+item.CPMdefault+'"  data-numberdefault="'+item.ImpressionsDefault+'" data-target="kpiCPM'+i+'">Reset</a> </div>';
          }

          if(item.CPC == item.CPCdefault){
              customCPC = "";
          } else {
              customCPC = "custom";
              kpiActionsCPC = '<div class="exclude-reset"> <a class="action exclude" id="actionExcludeCPC'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'"  data-item="'+i+'" data-action="exclude" data-kpi="CPC" data-target="kpiCPC'+i+'">Exclude</a> <a  class="action reset" id="actionResetCPC'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="reset" data-kpi="CPC" data-default="'+item.CPCdefault+'" data-numberdefault="'+item.ClicksDefault+'" data-target="kpiCPC'+i+'">Reset</a></div>';
          }
          
          if(item.CPV == item.CPVdefault){
              customCPV = "";
          } else {
              customCPV = "custom";
              kpiActionsCPV = '<div class="exclude-reset"><a class="action exclude" id="actionExcludeCPV'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="exclude" data-kpi="CPV" data-target="kpiCPV'+i+'">Exclude</a> <a class="action reset" id="actionResetCPV'+i+'" data-flightheader="'+item.FlightedPlacement+'" data-flightmember="'+item.FlightMember+'" data-item="'+i+'" data-action="reset" data-kpi="CPV" data-default="'+item.CPVdefault+'" data-numberdefault="'+item.ViewsDefault+'" data-target="kpiCPV'+i+'">Reset</a></div>';
          }
             
          
//           mediaPlanFirstColumns.append('<td class="td-checkbox">'+ '<input type="checkbox"> ' +'</td>');   
          var mediaPlanFirstColumns = $('<tr class="'+flightHeader+' '+isFlightMember+'">');
          mediaPlanFirstColumns.append('<td class="col-checkbox">'+ ' ' +'</td>');          
          mediaPlanFirstColumns.append('<td class="col-line-number"><span>' + rowNumber + flightHeaderImage+flightMemberImage+'</span></td>');
          mediaPlanFirstColumns.append('<td class="col-placement-name divider-right"><a href="#/line/overview/">'+ item.PlacementName +'</a></td>');
          mediaPlanFirstColumns.append('</tr>');
          mediaPlanFirstColumns.appendTo("#MediaPlanFirstColumns tbody");
                    
          var mediaPlanBody = $('<tr class="'+flightHeader+' '+isFlightMember+'"><td class="col-id readonly">' + item.BionicID + '</td>');
          mediaPlanBody.append('<td class="col-program"><input type="text" value="'+ item.Program +'"><span class="vendor">'+ item.Vendor +'</span></td>');
          mediaPlanBody.append('<td class="col-product"><input type="text" value="'+ item.Product +'"><input class="secondary" type="text" value="'+ item.Targeting +'"></td>');
          mediaPlanBody.append('<td class="col-channel"><input class="half" type="text" value="'+ item.Channel +'"><input class="half" type="text" value="'+ item.AdUnit +'"><input class="secondary" type="text" value="'+ item.AdSpecs +'"></td>');
          mediaPlanBody.append('<td class="col-flight-dates"><input class="half" type="text" value="'+ item.StartDate +'"><input class="half" type="text" value="'+ item.EndDate +'"><input class="half secondary" type="text" value="Every Day"><input class="secondary half" type="text" value="All Day"></td>');
          mediaPlanBody.append('<td class="col-rate"><input class="currency" type="text"><input class="number" type="text"><input type="text"><input type="text"></td>');
          mediaPlanBody.append('<td class="col-quantity"><input type="text" value=""></input></td>');
          
          //costs
          mediaPlanBody.append('<td class="divider col-gross-media col-cost"><span class="currency-symbol">$</span><a>1,000.00</a></td>');
          mediaPlanBody.append('<td class="col-net-media col-cost"><span class="currency-symbol">$</span><a>1,000.00</a></td>');
          mediaPlanBody.append('<td class="col-kpi col-production-talent col-cost"><span class="currency-symbol">$</span><input id="views'+ i + '" class="right number kpiCPV'+i + '" type="text" value="200.00">'+kpiActionsCPM+'</td>');
          mediaPlanBody.append('<td class="col-kpi col-production-color col-cost"><span class="currency-symbol">$</span><input id="views'+ i + '" class="right number kpiCPV'+i + '" type="text" value="200.00">'+kpiActionsCPM+'</td>');
          mediaPlanBody.append('<td class="col-agency-comp col-cost"><span class="currency-symbol">$</span><a>1,000.00</a></td>');
          mediaPlanBody.append('<td class="col-total-media-cost col-cost"><span class="currency-symbol">$</span><a>1,000.00</a></td>');
          mediaPlanBody.append('<td class="col-kpi col-delivery-dcm col-cost"><span class="currency-symbol">$</span><input id="views'+ i + '" class="right number kpiCPV'+i + '" type="text" value="250.00">'+kpiActionsCPM+'</td>');
          mediaPlanBody.append('<td class="col-kpi col-delivery-rich-media col-cost"><span class="currency-symbol">$</span><input id="views'+ i + '" class="right number kpiCPV'+i + '" type="text" value="250.00">'+kpiActionsCPM+'</td>');
          mediaPlanBody.append('<td class="col-total-cost  col-cost"><span class="currency-symbol">$</span><a>1,000.00</a></td>');          
          
          //kpis
          mediaPlanBody.append('<td class="divider CPM CPM'+ i +' '+isFlightMember+ ' col-kpi-cost"><span class="currency-symbol">$</span><input data-kpi="impressions'+ i + '" class="right cpw CPM kpiCPM'+ i + ' '+customCPM+'" type="text" value="'+ item.CPM +'">'+kpiActionsCPM+'</td>');
          mediaPlanBody.append('<td class="CPM CPM'+ i +' '+isFlightMember+ ' col-kpi-number"><input id="impressions'+ i + '" class="right number kpiCPM'+ i +'" type="text" value="'+ item.Impressions +'"></td>');
          mediaPlanBody.append('<td class="CPC CPC'+ i +' '+isFlightMember+ ' col-kpi-cost"><span class="currency-symbol">$</span><input data-kpi="clicks'+ i + '" class="right cpw CPC kpiCPC'+i + ' '+customCPC+'" type="text" value="'+ item.CPC +'">'+ kpiActionsCPC +'</td>');
          mediaPlanBody.append('<td class="CPC CPC'+ i +' '+isFlightMember+ ' col-kpi-number"><input id="clicks'+ i + '" class="right number kpiCPC'+i + '" type="text" value="'+ item.Clicks +'"></td>');
          mediaPlanBody.append('<td class="CPV CPV'+ i +' '+isFlightMember+ ' col-kpi-cost"><span class="currency-symbol">$</span><input  data-kpi="views'+ i + '" class="right cpw CPV kpiCPV'+i + ' '+customCPV+'" type="text" value="'+ item.CPV +'">'+kpiActionsCPV+'</td>');
          mediaPlanBody.append('<td class="CPV CPV'+ i +' '+isFlightMember+ ' col-kpi-number"><input id="views'+ i + '" class="right number kpiCPV'+i + '" type="text" value="'+ item.Views +'"></td>');
          mediaPlanBody.append('</tr>');
          mediaPlanBody.appendTo("#MediaPlanBody tbody");
        })

        
      }
</script>
        
<script type="text/javascript">

    // ------------------------------------------------
    // Set Up the Fixed First Column Table
    
    (function() {
      var mediaplan, fixedTable;
    
      fixedTable = function(el) {
        var $body, $header, $sidebar;
        $body = $(el).find('.fixedTable-body');
        $sidebar = $(el).find('.fixedTable-sidebar table');
        $header = $(el).find('.fixedTable-header table');
        return $($body).scroll(function() {
          $($sidebar).css('margin-top', -$($body).scrollTop());
          return $($header).css('margin-left', -$($body).scrollLeft());
        });
      };
    
      mediaplan = new fixedTable($('#mediaplan'));
    
    }).call(this);

    // ------------------------------------------------
    // Make the rows highlight with Fixed First Column   
    
    $(document).on({
    mouseenter: function () {
    var trIndex = $(this).index();
    $("table.mediaplan").each(function(index) {
        $(this).find("tbody>tr:eq("+trIndex+")").addClass("hover")
    });
    },
    mouseleave: function () {
    var trIndex = $(this).index();
    $("table.mediaplan").each(function(index) {
        $(this).find("tbody>tr:eq("+trIndex+")").removeClass("hover")
    });
    }
    }, "#mediaplan table tbody tr");
    
    // ------------------------------------------------
    // KPI Actions
    
    $(document).on('click', '.exclude-reset a', function() {
        var action = $(this).data('action');
        var actionButton = $(this).attr('id');
        var item = $(this).data('item');
        var kpi = $(this).data('kpi');
        var target = $(this).data('target');
        var kpidefault = $(this).data('default');
        var numberdefault = $(this).data('numberdefault');
        var numberdefaultline = "100,000";
        var flightheader =  $(this).data('flightheader');
        var flightmember =  $(this).data('flightmember');
//         console.log(action + '' + target);
        
        if(action == "exclude") {
            
            if(flightheader > 0){
                $("tr.flight"+flightheader+" td input."+kpi).val("");
                $("tr.flight"+flightheader+" td input."+kpi).removeClass("custom");
                $("tr.flight"+flightheader+" td input."+kpi).parent().addClass("inactive");
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).addClass("inactive");
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader+" input").addClass("inactive");
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader+" input").val("");
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).find(".currency-symbol").hide();
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).find(".action.exclude").hide();
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).find(".action.reset").show();
            }
            
            $(this).parent().parent().find(".currency-symbol").hide();
            $("."+target).val("");
            $("."+target).removeClass("custom");
            $("#actionExclude"+kpi+item).hide();
            $("#actionReset"+kpi+item).show();
            $("td."+kpi+item).addClass("inactive");
            $("."+target).addClass("inactive");
            
        } else if(action == "reset") {
            
            if(flightheader > 0){
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).removeClass("inactive");
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader+" input").removeClass("inactive");
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader+" input.cpw").val(kpidefault);
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader+" input.number").val(numberdefaultline);
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).find(".currency-symbol").show();
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).find(".action.exclude").show();
                $("tr.flight"+flightheader+" td."+kpi+".flight"+flightheader).find(".action.reset").hide();
            }
            
            $(".cpw.kpi"+kpi+item).val(kpidefault);
            $(".number.kpi"+kpi+item).val(numberdefault);
//             $(".number.kpi"+kpi+item).val("");
            $("."+target).removeClass("custom");
            $("."+target).removeClass("inactive");
            $("td."+kpi+item).removeClass("inactive");
            $("#actionReset"+kpi+item).hide();
            $("#actionExclude"+kpi+item).show();
            $(this).parent().parent().find(".currency-symbol").show();
        }
    });
    
    $(document).on('change', '.cpw', function(){
        var kpi = $(this).data('kpi');
        var item = $(this).data('item');
            $(this).parent().removeClass("inactive");   
            $("#"+kpi).removeClass("inactive");             
            $("#"+kpi).parent().removeClass("inactive");             
            $(this).addClass("custom"); 
            $(this).parent().find(".exclude-reset a").show();               
    });
    
</script>    