<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1 id="campaignname">...</h1>
    
    <span class="bionic-campaign-summary block fullwidth">April 01, 2016 - October 31, 2016</span>
    
    <ul class="bionic-tab-menu">
        <li><a href="#/campaign/overview/" class="current">Overview</a></li>
        <li><a href="#/campaign/settings-goals-and-kpis/">Settings</a></li>
        <li><a href="#/campaign/proposals/">Proposals</a></li>
        <li><a href="#/campaign/mediaplan/">Media Plan</a></li>
        <li><a href="#/campaign/flowchart/">Flowchart</a></li>
        <li><a href="#/campaign/schedule/">Schedule</a></li>
        <li><a href="#/campaign/allocations/">Allocations</a></li>
        <li><a href="#/campaign/tasks/">Tasks</a></li>
        <li><a href="#/campaign/performance/">Performance</a></li>
    </ul>
</div>

<ul class="bionic-action-menu block">
    <li class="bionic-action-edit"><a><i class="fa fa-pencil"></i>Edit</a></li>
    <li class="bionic-action-follow"><a><i class="fa fa-star-o"></i>Follow</a></li>
</ul>

<div class="bionic-overview-container block">

    <div class="bionic-summary block">
                
        <span class="bionic-overview-label divider">Advertiser</span>
        <a href="#/advertiser/overview/">Max Factor</a>
        
        <span class="bionic-overview-label">Budget</span>
        $ 191,250
        
        <span class="bionic-overview-label">Dates</span>
        Apr 01 - Oct 31, 2016
        
        <span class="bionic-overview-label divider">Primary Advertiser Contact</span>
        Jenny Smith<br>
        <a>jsmith@maxfactor.com</a><br>
        1-212-321-4321 ext. 3431

        <span class="bionic-overview-label">Primary Buyer Contact</span>
        Brian Barkley<br>
        <a>bb@xyz.com</a><br>
        1-234-321-2345
        
        <span class="bionic-overview-label">Channels</span>
        Online Display

        <span class="bionic-overview-label">Countries</span>
        US, Canada


        
    </div>

    <div class="bionic-advertiser-description block">
    
        <img src="../planner/images/xfactor.png" style="width: 100%">
<p>To drive awareness and mass reach of the Voluptuous False Lash Effect Mascara. We will execute this across Facebook, Instagram, Display, OLV and YouTube buying cost-effective and scalable inventory </p>

<p>To drive awareness we start with a teasing phase where we use short videos to get awareness going and create some buzz

<p>Across Facebook and Instagram we use longer videos to get to the right users and make them aware of Max Factor and the Voluptuous False Lash Mascara

<p>Once we have build awareness users can flow down to the next stage in the funnel. Images are more product led so we get their attention and start educating them about the new Mascara from Max Factor

<p>In this phase we use canvas ads to get that real drive and engagement. Canvas ads are relatively new but we expect great engagement from these ads for our consumers

<p>With dedicated partners we start running a social sampling campaign. Users that have gotten aware of Max Factor are specifically targeted in this campaign to entice them to try and share the product 

<p>Finally we focus on driving more sales. Here again we use sampling partners. We focus mostly on users that have engaged with our campaign in the earlier stages, retargeting them with this sampling offer to entice them to try the product and move to purchase

<p>We funnel the majority of budget in this campaign through Facebook to enable us to run a brand uplift study. This will give us very valuable information about the target customer, her needs and views

<p>We will run Display & OLV cross device to deliver mass reach & scale to our core audience. We will overlay Behavioural & Demo targeting to ensure we hit our target audience with minimal wastage. This will run across the Open Market to maximise cost-effective Reach

<p>We will run Affinity Targeting, which will allow us to reach users who are consuming content and demonstrate the online behaviours pertinent to our core audiences. We will optimise towards completed views and upweight the best performing audience segments in real time

<p>We will target our core audience on YouTube who are searching for keywords relating to the eye category in general, but also target competitor brand names and products being searched for. This puts Max Factor at front of mind when users are considering mascara purchases

<p>We have enough impressions and budget to run a Brand Lift Study on YouTube - we can ask a question on either Awareness, Ad Recall or Consideration

<p>We will target users who are in proximity of a DM store with mobile banners to encourage them to go in store to purchase

<p>This is a programmatic skin or site takeover. This campaign will be heavily focused on the start of the campaign to drive true awareness with big and bold site takeover banners. But only targeted at the Rediscover Me audience. The banner appears around the site content making the ads visible but non-intrusive so they will not lead to negative consumer sentiments
    
    </div>


</div>

<script>
      if(Campaigns.length > 0){setCampaignInfo();}
</script>