<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1 id="campaignname">...</h1>
    
    <span class="bionic-campaign-summary block fullwidth">April 01, 2016 - October 31, 2016</span>
    
    <ul class="bionic-tab-menu">
        <li><a href="#/campaign/overview/">Overview</a></li>
        <li><a href="#/campaign/settings/">Settings</a></li>
        <li><a href="#/campaign/proposals/">Proposals</a></li>
        <li><a href="#/campaign/mediaplan/">Media Plan</a></li>
        <li><a href="#/campaign/flowchart/">Flowchart</a></li>
        <li><a href="#/campaign/schedule/" class="current">Schedule</a></li>
        <li><a href="#/campaign/allocations/">Allocations</a></li>
        <li><a href="#/campaign/tasks/">Tasks</a></li>
        <li><a href="#/campaign/performance/">Performance</a></li>
    </ul>
</div>

<script>
      if(Campaigns.length > 0){setCampaignInfo();}
</script>