<div class="bionic-campaign-header bionic-header block fullwidth">
                
    <h1 id="campaignname">...</h1>
    
    <span class="bionic-campaign-summary block fullwidth">April 01, 2016 - October 31, 2016</span>
    
    <script type="text/template" class="campaignNav">

    	<ul class="bionic-tab-menu">
    		<% _.each( bionic.campaignNavItems, function( campaignNavItem ){ %>
            <% 
                var url = window.location.href;
                var theID = url.substring(url.lastIndexOf('/') + 1);
                var directory = url.substring(url.lastIndexOf('#/campaign/'));
                var group = campaignNavItem.group;
                if (window.location.hash.substr(1,18) == campaignNavItem.page.substr(1,18)){ var currentnav = 'class="current"'; } 
            %>
    			<li>
    				<a <%= currentnav %> href="<%- campaignNavItem.page %>"><%- campaignNavItem.name %></a>
    			</li>
    
    		<% }); %>
    	</ul>   
    	 
	</script>
</div>

<script type="text/template" class="template">
	
	<ul class="bionic-subnav-menu">
		<% _.each( bionic.listItems, function( listItem ){ %>
        <% 
            var url = window.location.href;
            var theID = url.substring(url.lastIndexOf('/') + 1);
            var page = url.substring(url.lastIndexOf('#/campaign/'));
            if (listItem.page + theID == page){ var currentSubnav = 'class="current"'; } 
        %>
			<li>
				<a <%= currentSubnav %> href="<%- listItem.page %>"><%- listItem.name %></a>
			</li>

		<% }); %>
	</ul>
	
</script>

<div class="block has-subnav">
    
<h2>Production Costs</h2> 
<!-- <p><strong>Note: </strong>The order of these costs are the order they will appear as columns on the Media Plan. <br>Change the order they appear in the Media Plan by dragging the rows below.</p> -->
<!--
<ul>
        <li class=""><div class="bionic-filter bionic-filter-off"><i class="fa fa-filter"></i> Select Production Costs</div>

            <ul class="menu custom-form-controls">
                <li><input id="cb'+i+'" type="checkbox" 'checked'><label for="cb'+i+'">one</label>
                </li>
                <li><input id="cb'+i+'" type="checkbox" 'checked'><label for="cb'+i+'">two</label>
                </li>
                <li><input id="cb'+i+'" type="checkbox" 'checked'><label for="cb'+i+'">three</label>
                </li>
            </ul>
        </li>
</ul>
-->

<table class="addToCampaign custom-form-controls simple gridlines" id="costs">
    <thead>
        <tr>
            <th colspan="2" class="">Cost</th>
            <th colspan="2">Calculation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>



<br>
<a class="blue-button open-modal" href="templates/modals/settings/production-costs.html" rel="modal:open" >Select Production Costs</a>
<br>
<br>

</div>

<script type="text/javascript" src="templates/campaign/nav-campaign.js"></script>
<script type="text/javascript" src="templates/campaign/nav-campaign-settings.js"></script>
<script>
$(document).ready(function () {
    $("li").click(function () {
        $('li > ul').not($(this).children("ul").toggle()).hide();
        
    });
});

    
if(Campaigns.length > 0){setCampaignInfo();}

$("tbody").sortable({
    items: "> tr",
    appendTo: "parent",
    helper: "clone"
}).disableSelection();

$("tbody").droppable({
    hoverClass: "drophover",
    tolerance: "pointer",
    drop: function(e, ui) {
        var tabdiv = $(this).attr("href");
        $(tabdiv + " table tr:last").after("<tr>" + ui.draggable.html() + "</tr>");
    }
});    
          
</script>

<script>

      costsTab = "AdditionalCosts";
            
      $(document).ready( function() {

    
        Tabletop.init( { key: public_spreadsheet_url,
                         callback: showInfo,
                         wanted: [ costsTab ],
                        // query:["state=done and (name=performance or name=flowchart)"],
                         debug: true } )
      
      });
        
      function showInfo(data, tabletop) {

        $.each( tabletop.sheets(costsTab).all(), function(i, item) {
          
          var costRow,
              name,
              status, 
              campaigns, 
              type, 
              calculationCost,
              calculationBasis,
              calculationValue,
              overageBuffer,
              checked,
              symbol;           
          
              name =        item.Name;
              status =      item.Status;
              campaigns =   item.Campaigns;
              type =        item.Type;
              calculationCost = item.CalculationCost;
              calculationBasis = item.CalculationBasis;
              calculationValue = item.CalculationValue;
              overageBuffer = item.OverageBuffer;
              checked =     item.Checked; 
              
              if(calculationCost.includes("Percentage")){
                  symbol = ""
              } else {
                  symbol = '<span class="currency-symbol">$</span>';
              }    
              if((type == "Production")&&(checked == "checked")) {
                  costRow = $('<tr><td></td><td class="width250"><strong>'+name+'</strong></td>');
                  costRow.append('<td class="width250">'+calculationCost+'</td>')
//                   costRow.append('<td class="width250">'+calculationBasis+'</td>')
                  costRow.append('<td class="editable width250 narrow">'+symbol+'<input class="right" type="text" value="'+calculationValue+'"></td>')
                  costRow.append('<td>Remove</td></tr>')
                  costRow.appendTo("#costs tbody");
              }
          
        });

        
      }

        
</script>