.notification {
    background: #f5f6f7;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    line-height: 18px;
    
    &.info {
        background: #E6F2F8;
    }

    &.warning {
        background: #FDECCC;
    }

    &.error {
        background: #FDD6D1;
    }

}

.alert {
    background-color: #DBE8F0;
    border: 1px solid #D6E6F0;
    border-radius: 5px;
    padding: 15px 20px 15px 10px;
    display: block;
    max-width: 700px;
    margin: 10px 0;
    
    .fa {
        display: block;
        float: left;
        font-size: 2.0em;
        margin: 5px 20px 0 10px;
        color: #9FC0DE;
    }
    
    p {
        padding-left: 58px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 18px;
    }
    
}