.ui-tooltip {
    
    background: #565656;
    max-width: 200px;
    
    .ui-tooltip-content {
        color: #fff;
    }
    
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}