.blue-button,
.green-button,
.gray-button,
.button-c,
.gray-button {
    display: inline-block;
    font-size: 13px;
    padding: 8px 20px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;
    position: relative;
    font-weight: 700 !important;    
}

.action-menu-button {
    
    background: #dfe0e1;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 15px;
    i {
        color: #6CAFD2;
    }
        
}

.blue-button {
    display: inline-block;
    color: white !important;
    position: relative;
    background: #6CAFD2;
    color: white;
    border: 1px solid #6CAFD2;
}


    .blue-button:hover {
        background: #60B2DB;
    }

    .blue-button:disabled,
    .blue-button.disabled,
    .blue-button.disabled:hover {
        background: #eee;
        border: 0px solid #eee;
        color: #c0c0c0 !important;
        cursor: default;
    }

    #crumbs .blue-button {
        margin-top: 4px;
        padding: 8px 20px;
    }

.button-c {
    background-color: #999;
    color: #fff !important;
}

    .button-c-disabled {
        opacity: 0.8;
    }

.green-button {
    color: white !important;
    position: relative;
    background: #65a000;

}

input[type="submit"].gray-button,
input[type="button"].gray-button,
.gray-button {
    background: #dfe0e1;
    color: #555!important;
    border: 1px solid #dfe0e1;
}

    .gray-button:hover {
        background: #e2e2e2;
    }



.small-button {
    padding: 0 20px;
}

.blue-button:disabled {
        background: #B5B5B5;
        color: #888 !important;
    }

.button-link {
    padding: 8px 20px !important;
    line-height: 20px;
    background: none !important;
    &.under-line{
        text-decoration: underline;
    }
}

.bionic-action-menu li {
//     background: #dfe0e1;
    margin: 6px 6px 3px 0;
    padding: 0;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    
    a {
        background: #dfe0e1;
        border-radius: 3px;
        color: #333;
        display: block;
        padding: 8px 17px 8px 15px;
                
        &:hover {
            transition: background-color 0.5s ease;
            background-color: #e9ebed;
        }
        
        
    }
    
    img {
        margin-right: 5px;
        margin-top: -3px;
        vertical-align: middle;
    }
    
    i {
        font-size: 14px;
        color: $blue;
        margin-right:8px;
    }
}

.bionic-action-menu.media-plan li {
//     background: #dfe0e1;
    margin: 6px 6px 3px 0;
    padding: 0;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    
    a {
        background: none;
        color: #333;
        display: block;
        padding: 6px 10px 8px !important;
        height: auto;
                        
        &:hover {
            transition: background-color 0.5s ease;
            background-color: #e9ebed;
        }
        
        &.on {
            @include nxm-button-orange-backgrond();
        }
        
        .fa-times-circle {
            margin-left: 10;
            margin-right: 0px;
            top: 1px !important;
        }
        
    }
    
    img {
        margin-right: 5px;
        margin-top: -3px;
        vertical-align: middle;
    }
    
    i {
        font-size: 14px;
        color: $blue;
        margin-right:8px;
    }
}
