.bionic-checkbox{
    input[type="checkbox"] {
        display: none;

        &:checked + label .box {
            border: 3px solid #69AED4;
            background-color: #69AED4;
            background-image: url('../images/check_mark.svg');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 3px;
        }

        &:disabled + label {
            color: #ccc !important;
            cursor: default;

            .box {
                border-color: #ddd !important;
                background-color: #ddd;
            }
        }
    }

    label {
        display: inline !important;
        font-size: 13px !important;
        cursor: pointer;

        span {
            &:first-child.box {
                top: -3px;
                position: relative;
                height: 16px;
                width: 16px;
                border: 3px solid #eee;
                border-radius: 2px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
                background: #fff;
            }

            &.text{
                vertical-align: top;
                position: relative; 
                top: 3px;
                display: inline-block;
                width: calc(100% - 33px);
                line-height: 18px;
                padding: 2px 0 3px;
              
            }
            
            &.secondary-text {
                color: #888;
            }
        }
    }
}

.custom-form-controls {
    
    user-select: none;
    
    input[type='checkbox'] {
        opacity: 0;
        position: absolute;
    }
    
    input[type='checkbox']:checked + label::before {
        background-color: $blue;
        border: 3px solid $blue;
        color: white;
        content: '\f00c';
    }
    
    input[type='checkbox'] + label {
        cursor: pointer;
        line-height: 21px;
        top: 3px;
        float: left;
        margin-bottom: 5px;
        margin-right: 15px;
        width: 100%;
        
        .secondary-text {
            color: #888;
        }
        
    }
    
    input[type='checkbox'] + label::before {
        background: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        content: '';
        cursor: pointer;
        display: block;
        font-family: 'FontAwesome';
        float: left;
        line-height: 16px;
        margin-right: 10px;
        padding-left: 1px;
        position: relative;
        height: 21px;
        width: 21px;
        border: 3px solid #eee;
        transition: background-color .1s;
    }
}