input.ui-autocomplete-input-with-arrow
{
    background-image: url("../images/arrow-down.svg");
    background-origin: padding-box;
    background-position: right 7px center, right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    box-sizing: border-box;
    width: 230px;
}
