<div class="addmetrics" style="width: 500px;">
    <div class="bionic-modal-header">
        <h1>Add New Bucket</h1>
    </div>
</div>
    
<div class="bionic-modal-body custom-form-controls" style="height: 180px; width: 500px;">
 
    <strong style="display: block; margin-bottom: 5px;">Name</strong>
    <input class="text" type="text" style="width: 100%;" value="">
    
    <strong style="display: block; margin-bottom: 5px; margin-top: 20px">Budget</strong>
        <span class="currency-input usd">USD</span>
        <input class="text currency" type="text" style="width: calc(100% - 50px);" value="50,000.00">

</div>


<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Add Bucket</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
</div>
</div>