<div style="width: 500px;">
    <div class="bionic-modal-header">
        <h1><i class="fa fa-warning" style="color: #F39B0D;"></i> Delete Bucket?</h1>
    </div>
</div>
    
<div class="bionic-modal-body custom-form-controls" style="height: 80px; width: 500px; padding-bottom: 10px;">
 
<!--     <strong style="display: block; margin-bottom: 5px;">Name</strong> -->
    <p>Are you sure you want to delete the <strong>Radio - Boston Market</strong> bucket? Deleting will remove the bucket from <strong>9</strong> lines in the media plan.</p>    
</div>

<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Delete</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
</div>
</div>