<div class="">
    <div class="bionic-modal-header" style="display: block; float:left; width: 100%; box-sizing: border-box;">
        <h1>Digital</h1>
        
        
     <ul class="bionic-tab-menu" style="margin-bottom: -15px; margin-top: 10px;">
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket.html">Basics</a></li>
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket-monthly.html">Monthly</a></li>
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket-history.html" class="current" style="background: #fff; border-bottom-color: #fff;">History</a></li>
     </ul>
        
    </div>
</div>
    
<div class="bionic-modal-body budget-modal custom-form-controls" style="height: 500px; width: 700px;">
 


</div>


<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Done</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
</div>
</div>