<div class="">
    <div class="bionic-modal-header" style="display: block; float:left; width: 100%; box-sizing: border-box;">
        <h1>Digital</h1>
        
        
     <ul class="bionic-tab-menu" style="margin-bottom: -15px; margin-top: 10px;">
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket.html">Basics</a></li>
        <li><a rel="modal:open" class="current" style="background: #fff; border-bottom-color: #fff;">Monthly</a></li>
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket-history.html">History</a></li>
     </ul>
        
    </div>
</div>
    
<div class="bionic-modal-body budget-modal custom-form-controls" style="height: 500px; width: 700px;">
 
    <div class="block fullwidth" style="margin-top: 10px;">
      <strong style="display: block; margin-bottom: 10px;">Budget for Digital</strong>
      $ 50,000.00
    </div>

     <div class="block fullwidth" style="margin-top: 20px;">
    <strong>Monthly Breakdown</strong> (from <a>Campaign Settings</a>)
     </div>
 
    <div class="monthlyBreakdown">
        
        <div class="block">
            <strong>Jan 2017</strong>
            <input class="text" type="text" value="">
        </div>
        
        <div class="block">
            <strong>Feb 2017</strong>
            <input class="text" type="text" value="">
        </div>
    
        <div class="block">
            <strong>Mar 2017</strong>
            <input class="text" type="text" value="">
        </div>
        <div class="block">
            <strong>Apr 2017</strong>
            <input class="text" type="text" value="">
        </div>
        
        <div class="block">
            <strong>May 2017</strong>
            <input class="text" type="text" value="">
        </div>
    
        <div class="block">
            <strong>Jun 2017</strong>
            <input class="text" type="text" value="">
        </div>
        
        <div class="block">
            <strong>Jul 2017</strong>
            <input class="text" type="text" value="">
        </div>
        
        <div class="block">
            <strong>Aug 2017</strong>
            <input class="text" type="text" value="">
        </div>
    
        <div class="block">
            <strong>Sep 2017</strong>
            <input class="text" type="text" value="">
        </div>    
        
        <div class="block">
            <strong>Oct 2017</strong>
            <input class="text" type="text" value="">
        </div>
        
        <div class="block">
            <strong>Nov 2017</strong>
            <input class="text" type="text" value="">
        </div>
    
        <div class="block">
            <strong>Dec 2017</strong>
            <input class="text" type="text" value="">
        </div>
    
    </div>

 
 



</div>


<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Done</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
</div>
</div>