<div class="">
    <div class="bionic-modal-header" style="display: block; float:left; width: 100%; box-sizing: border-box;">
        <h1>Digital</h1>
        
        
     <ul class="bionic-tab-menu" style="margin-bottom: -15px; margin-top: 10px;">
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket.html">Basics</a></li>
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket-monthly.html">Monthly</a></li>
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket-history.html" class="current" style="background: #fff; border-bottom-color: #fff;">History</a></li>
     </ul>
        
    </div>
</div>
    
<div class="bionic-modal-body budget-modal custom-form-controls" style="height: 500px; width: 700px;">
    
    <div class="filter-container custom-form-controls">
        <div class="bionic-filter bionic-filter-off" style="margin-bottom: 0;"><i class="fa fa-filter"></i> All Properties </div>
        <div class="menu filterTypeMenu">
            <ul>
                <li class="divider first-option"><input id="alladvertisers" type="checkbox" checked><label for="alladvertisers">All Campaigns</label></li>
                <li class="first-option"><input id="following" type="checkbox" checked><label for="following">Following</label></li>
                <li><input id="notfollowing" type="checkbox" checked><label for="notfollowing">Not Following</label></li>
            </ul>
            <div class="footer"><a class="blue-button">Apply</a></div>
        </div>
    </div>                
    
 
    <table class="history" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>User / Action</th>
                <th>Property</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="timestamp">12/31/2017<span class="time">12:45 PM</span></td>
                <td class="user-action">Elizabeth Planner set <strong>Authorization</strong> to Approved</td>
                <td class="property">Authorization</td>
            </tr>
            <tr>
                <td class="timestamp">12/31/2017<span class="time">11:33 PM</span></td>
                <td class="user-action">Elizabeth Planner changed <strong>Budget</strong> from $ 200,000.00 to $ 250,000.00</td>
                <td class="property">Amount</td>
            </tr>
            <tr>
                <td class="timestamp">12/31/2017<span class="time">10:42 PM</span></td>
                <td class="user-action">Elizabeth Planner created a Budget for Digital with</td>
                <td class="property">New</td>
            </tr>
        </tbody>
    </table>
    

</div>


<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Done</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
</div>
</div>