<div class="">
    <div class="bionic-modal-header" style="display: block; float:left; width: 100%; box-sizing: border-box;">
        <h1>Digital</h1>
        
        
     <ul class="bionic-tab-menu" style="margin-bottom: -15px; margin-top: 10px;">
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket.html" class="current" style="background: #fff; border-bottom-color: #fff;">Basics</a></li>
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket-monthly.html">Monthly</a></li>
        <li><a rel="modal:open" href="templates/modals/budget/edit-bucket-history.html">History</a></li>
     </ul>
        
    </div>
</div>
    
<div class="bionic-modal-body budget-modal custom-form-controls" style="height: 500px; width: 700px;">
 
    <div class="block fullwidth" style="margin-top: 10px;">
        <strong style="display: block; margin-bottom: 10px;">Name</strong>
        <input class="text" type="text" style="width: 375;" value="Digital">
    </div>

    <div class="block fullwidth" style="margin-top: 10px;">
        <strong style="display: block; margin-bottom: 10px;">Budget</strong>
        <span class="currency-input usd">USD</span>
        <input class="text currency" type="text" style="width: 325;" value="50,000.00">
    </div>
    
    <div class="block fullwidth" style="margin-top: 10px;">
        <strong style="display: block; margin-bottom: 10px;">Authorization</strong>
    </div>
    <div class="block fullwidth" style="margin-top: 10px;">
        <strong style="display: block; margin-bottom: 10px;">Lines in Plan</strong>
    </div>

<!--
     <div class="block fullwidth" style="margin-top: 10px;">
<input id="showMonthly" type="checkbox"><label style="width: auto;" id="showMonthlyLabel" for="showMonthly">Show Monthly</label></div>
-->


</div>


<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Done</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
</div>
</div>