<div style="width: 500px;">
    <div class="bionic-modal-header">
        <h1>Edit Bucket Name</h1>
    </div>
</div>
    
<div class="bionic-modal-body custom-form-controls" style="height: 75px; width: 500px; padding-bottom: 10px;">
 
<!--     <strong style="display: block; margin-bottom: 5px;">Name</strong> -->
    <input class="text" type="text" style="width: 100%;margin-top: 5px;" value="Digital">
    
</div>

<div class="bionic-modal-footer" style="margin-top: 0;">
    <a class="blue-button" rel="modal:close" >Save</a>
    <a class="gray-button" rel="modal:close" >Cancel</a>
</div>
</div>